
@{
    ViewBag.Title = "DataTableList";
}

<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>

<body>
    <div class="content-body">
        <div class="container-fluid">
            <div class="card">

                <div class="card-body">
                    <div class="form-group">
                        <h2 class="d-inline">Deviation List</h2>
                    </div>
                    <table class="table table-striped table-bordered zero-configuration nowrap table-responsive" id="deviationdatatable" width="100%">
                        <thead>
                            <tr>
                                <th width="100px">Request ID</th>
                                <th width="100px">Deviation Number</th>
                                <th width="100px">Creation Date</th>
                                <th width="100px">NIK Pelapor</th>
                                <th width="100px">Pelapor Name</th>
                                <th width="100px">Site Location</th>
                                <th width="100px">Deviation Category</th>
                                <th width="100px">Status</th>
                                <th width="100px" hidden>Action</th>

                            </tr>
                        </thead>
                        <tbody id="deviationtable" class="nowrap">
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script nonce="yxFf8EoZ17T/dhA6R+7T6g==">
        $(document).ready(function () {
            // Load User once the page is loaded
            LoadData();

        });

        function LoadData() {

            var iduser = '@Request.RequestContext.HttpContext.Session["xUser"]';

            var dto = {
                IDUSER: iduser
            };

            $.ajax({
                url: "../DataDeviasi/SemiMasterView",
                type: "post",
                dataType: "json",
                data: JSON.stringify(dto),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;
                    for (trav = 0; trav < Count; trav++) {


                        trHTML +=
                            '<tr><td align="center"><a href="../DataDeviasi/Deviasi?Nomor=' + data[trav].REQ_ID + ' "">' + data[trav].REQ_ID + '</td>' +
                            '<td align="left">' + data[trav].DEVIATION_NO + '</td>' +
                            '<td align="center">' + data[trav].CREATION_DATE + '</td>' +
                            '<td align="left">' + data[trav].ID_PROPOSER + '</td>' +
                            '<td align="left">' + data[trav].EMPNAME + '</td>' +
                            '<td align="left">' + data[trav].LOCATION_SITE + '</td>' +
                            '<td align="left">' + data[trav].DEVIATION_CATEGORY + '</td>' +
                            '<td align="left">' + data[trav].STATUS_DESC + '</td>' +
                            '<td align="center" hidden>' + data[trav].REQ_ID + '</td>';
                    }

                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable({
                        order: [[0, "desc"]]
                    });

                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }
    </script>
</body>

