
@{
    ViewBag.Title = "FindDeviation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>

@*<style>
    .ellipsis {
        max-width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>*@

<body>
    <div class="content-body">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <h2 class="d-inline">Find Deviaton</h2>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-danger" value="Clear" id="ClearFilter">Clear Filter</button>
                        <button class="btn btn-success" value="Clear" id="btnFindDeviation">Find Deviation</button>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-5 col-form-label">Status Penyimpangan</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="statuspenyimpangan">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-5 col-form-label">Site Penyimpangan</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="ddlSitePenyimpangan">
                                                    <option disabled selected hidden class="dropdown-header">Site Penyimpangan</option>
                                                    <option class="dropdown-item" value="CKR">Cikarang</option>
                                                    <option class="dropdown-item" value="PLG">Pulogadung</option>
                                                    <option class="dropdown-item" value="PLM">Pulomas</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-5 col-form-label">Tahun Pelaporan</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="tahunpelaporan">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-5 col-form-label">Jenis Penyimpangan</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="jenispenyimpangan">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-5 col-form-label">Kategori Penyimpangan</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="kategoripenyimpangan">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-5 col-form-label">Departemen Pelapor</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="departemenpelapor">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-5 col-form-label">Bulan Pelaporan</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="ddlBulanPelaporan">
                                                    <option disabled selected hidden class="dropdown-header">Bulan Pelaporan</option>
                                                    <option class="dropdown-item" value="01">Januari</option>
                                                    <option class="dropdown-item" value="02">Februari</option>
                                                    <option class="dropdown-item" value="03">Maret</option>
                                                    <option class="dropdown-item" value="04">April</option>
                                                    <option class="dropdown-item" value="05">Mei</option>
                                                    <option class="dropdown-item" value="06">Juni</option>
                                                    <option class="dropdown-item" value="07">Juli</option>
                                                    <option class="dropdown-item" value="08">Agustus</option>
                                                    <option class="dropdown-item" value="09">September</option>
                                                    <option class="dropdown-item" value="10">Oktober</option>
                                                    <option class="dropdown-item" value="11">November</option>
                                                    <option class="dropdown-item" value="12">Desember</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divLoading" class="row" hidden>
                        <div class="col-md-12" style="text-align:center">
                            <img src="~/Content/Styles/images/loading2.gif" width="400" height="300" />
                        </div>

                    </div>
                </div>

                <div class="card-body" id="cardTable" hidden>
                    <table class="table table-striped table-bordered table-hover nowrap table-responsive" width="100%" id="deviationdatatable">
                        <thead>
                            <tr>
                                <th width="100px">Action</th>
                                <th width="100px">Request ID</th>
                                <th width="100px">Nomor Penyimpangan</th>
                                <th width="100px">Nama Pelapor</th>
                                <th width="100px">Kategori Penyimpangan</th>
                                <th width="100px">Jenis Penyimpangan</th>
                                <th width="100px">Deskripsi Singkat</th>
                                @*<th width="100px">Outstanding</th>*@
                                <th width="100px">Status</th>
                                <th width="100px">Outstanding Approver</th>
                                <th width="100px">Nomor CAPA</th>
                                <th width="100px">Tanggal Closed</th>
                                <th width="100px">Alasan Cancelled</th>
                                <th width="100px">Tanggal Cancelled</th>
                                <th width="100px" hidden>Action</th>
                            </tr>
                        </thead>
                        <tbody id="deviationtable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @*Edit by Teddy , Modal for Print*@
    <div class="modal fade" id="Modal_Print" tabindex="-1" role="dialog" aria-labelledby="PrintModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PrintModalLabel">Download File</h5>
                </div>
                <div class="modal-body justify-content-center">
                    <p>Silahkan pilih tipe file yang diperlukan</p>

                    <div class="row form-group justify-content-center">
                        <button class="btn btn-success" id="PrintFindDeviationExcel" style="margin-right:4px;">Print Excel</button>
                        <button class="btn btn-danger" id="PrintFindDeviationPDF" style="margin-right:4px;">Print PDF</button>
                        <button class="btn btn-primary" id="PrintFindDeviationWord" style="margin-right:4px;" hidden>Print Word</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script nonce="i9AecplAtcnLMLksdM4qAg==">
        let checkLoading = 1;

        //Variable global edit by teddy , untuk menampun Nomor.
        var nomor;

        $(document).ready(function () {
            // Load User once the page is loaded
            //LoadData();
            //LoadFilter();
            //CheckFilter();

            //On click function Button View
            $('#deviationdatatable tbody').on('click', 'input[id="View"]', function () {
                var row = $(this).closest("TR");

                    //var Nomor = $("TD", row).eq(0).html();
                    var Nomor = $("TD", row).eq(1).html();
                    @*console.log(Nomor)*@
                    window.location.href = "../DataDeviasi/Deviasi?Nomor=" + Nomor;
                });


            //Edit by teddy, on click print get the data of Nomor
            $('#deviationdatatable tbody').on('click', 'input[id="Print"]', function () {
                var row = $(this).closest("TR");
                //var Nomor = $("TD", row).eq(0).html();
                var Nomor = $("TD", row).eq(1).html() + $("TD", row).eq(2).html();

                nomor = Nomor;

            })

            //Edit by teddy, download function for excel,pdf,and word
            $("#PrintFindDeviationExcel").click(function () {
                window.open("../DataDeviasi/PrintReportFindDeviation?Number=" + nomor + "&Tipe=Excel")
            });

            $("#PrintFindDeviationPDF").click(function () {
                window.open("../DataDeviasi/PrintReportFindDeviation?Number=" + nomor + "&Tipe=PDF")
            });

            $("#PrintFindDeviationWord").click(function () {
                window.open("../DataDeviasi/PrintReportFindDeviation?Number=" + nomor + "&Tipe=Word")
            });

            //$.when.apply($, ajaxCalls()).then($.ajax(LoadData()));
            $.when.apply($, ajaxCalls()).then(console.log('yoi'));

            //$("#Find").click(function () {
            //    window.location.href = "/DataDeviasi/FindDeviation"
            //});

            $("#btnFindDeviation").click(function () {
                //if (checkLoading > 0) {
                //    console.log('mashok')
                //    $('#divLoading').prop('hidden', false);
                //    $('#cardTable').prop('hidden', true);
                //    checkLoading = 0;
                //}
                $('#divLoading').prop('hidden', false);
                $('#cardTable').prop('hidden', true);
                $('#ClearFilter').prop('disabled', true);
                $('#btnFindDeviation').prop('disabled', true);
                var sp = $("#statuspenyimpangan").val();
                var dp = $("#departemenpelapor").val();
                var kp = $("#kategoripenyimpangan").val();
                var jp = $("#jenispenyimpangan").val();
                var tp = $("#tahunpelaporan").val();
                var bp = $("#ddlBulanPelaporan").val();
                var sitePenyimpangan = $("#ddlSitePenyimpangan").val();

                FilteredTable(sp, dp, kp, jp, tp, bp, sitePenyimpangan);
            });

            $("#ClearFilter").click(function () {
                ClearFilter();
            });

            if (checkLoading == 0) {
                //$('#divLoading').prop('hidden', false);
                $('#cardTable').prop('hidden', true);

            }
        });

        function ajaxCalls() {
            return [
                $.ajax(LoadFilter()),
                //$.ajax(CheckFilter())
            ];
        }



        function ClearFilter() {
            //if (checkLoading == 0) {
                //$('#divLoading').prop('hidden', false);
            //$('#cardTable').prop('hidden', true);

            $("#statuspenyimpangan").val('Status Penyimpangan');
            $("#statuspenyimpangan").selectpicker("refresh");

            $("#departemenpelapor").val('Departemen Pelapor');
            $("#departemenpelapor").selectpicker("refresh");

            $("#kategoripenyimpangan").val('Kategori Penyimpangan');
            $("#kategoripenyimpangan").selectpicker("refresh");

            $("#jenispenyimpangan").val('Jenis Penyimpangan');
            $("#jenispenyimpangan").selectpicker("refresh");

            $("#tahunpelaporan").val('Tahun Pelaporan');
            $("#tahunpelaporan").selectpicker("refresh");

            $("#ddlSitePenyimpangan").val('Site Penyimpangan');
            $("#ddlSitePenyimpangan").selectpicker("refresh");

            $("#ddlBulanPelaporan").val('Bulan Pelaporan');
            $("#ddlBulanPelaporan").selectpicker("refresh");

            $('#deviationdatatable').DataTable().clear().destroy();
                //LoadData();
            //}

        }

        //AUTO SEND PARAMETER
        //26/09/23 feature removed


        // SEND PARAMETER TO CONTROLLER

        function FilteredTable(sp, dp, kp, jp, tp, bp, sitePenyimpangan) {

            var statuspenyimpangan = sp;
            var departemenpelapor = dp;
            var kategoripenyimpangan = kp;
            var jenispenyimpangan = jp;
            var tahunpelaporan = tp;
            var bulanPelaporan = bp;

            var dto = {
                StatusPenyimpangan: statuspenyimpangan,
                DepartemenPelapor: departemenpelapor,
                KategoriPenyimpangan: kategoripenyimpangan,
                JenisPenyimpangan: jenispenyimpangan,
                TahunPelaporan: tahunpelaporan,
                BulanPelaporan: bulanPelaporan,
                SitePenyimpangan: sitePenyimpangan
            }

            $.ajax({
                url: "../DataDeviasi/FilteredTable",
                type: "post",
                data: JSON.stringify(dto),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $('#divLoading').prop('hidden', true);
                    $('#cardTable').prop('hidden', false);
                    $('#ClearFilter').prop('disabled', false);
                    $('#btnFindDeviation').prop('disabled', false);
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;
                    checkLoading = 1;
                    if (Count == '0') {

                    } else {
                        for (trav = 0; trav < Count; trav++) {

                            if (data[trav].STAT == 'PICDD1' || data[trav].STAT == 'CAPANO' || data[trav].STAT == 'CAPAYS' || data[trav].STAT == 'CLOSE')
                            {
                                // BISA DONLOT
                                trHTML +=
                                    '<tr><td> <input type="button" class="btn btn-success" style="margin-right:4px;width:auto" id="Print" data-toggle="modal" data-target="#Modal_Print" value="Print" /><input type="button" id="View" value="View" class="btn btn-info View" style="width:auto;"/></td>' +
                                    '<td>' + data[trav].REQ_ID + '</td>' +
                                    '<td>' + data[trav].DEVIATION_NO + '</td>' +
                                    '<td>' + data[trav].EMPNAME + '</td>' +
                                    '<td>' + data[trav].DEVIATION_CATEGORY + '</td>' +
                                    '<td>' + data[trav].PLAN_DEV + '</td>' +
                                    '<td align="justify" style="text-overflow:ellipsis;" class="ellipsis">' + data[trav].PROBLEM + '</td>' +
                                    '<td>' + data[trav].STATUS + '</td>' +
                                    '<td>' + data[trav].APPROVERNAME + '</td>' +
                                    '<td>' + data[trav].NO_CARPAR + '</td>' +
                                    '<td>' + data[trav].TANGGAL_CLOSE + '</td>' +
                                    '<td>' + data[trav].KETERANGAN_CANCEL + '</td>' +
                                    '<td>' + data[trav].TANGGAL_CANCEL + '</td>' +
                                    '<td hidden>' + data[trav].REQ_ID + '</td></tr>';

                                // WHEN GOT REJECTED WHATSOEVER
                            } else {
                                // LIAT DOANG
                                trHTML +=
                                    '<tr><td align="center"><input type="button" id="View" value="View" class="btn btn-info View" style="width:auto;"/></td>' +
                                    '<td>' + data[trav].REQ_ID + '</td>' +
                                    '<td>' + data[trav].DEVIATION_NO + '</td>' +
                                    '<td>' + data[trav].EMPNAME + '</td>' +
                                    '<td>' + data[trav].DEVIATION_CATEGORY + '</td>' +
                                    '<td>' + data[trav].PLAN_DEV + '</td>' +
                                    '<td align="justify" style="text-overflow:ellipsis;" class="ellipsis">' + data[trav].PROBLEM + '</td>' +
                                    '<td>' + data[trav].STATUS + '</td>' +
                                    '<td>' + data[trav].APPROVERNAME + '</td>' +
                                    '<td>' + data[trav].NO_CARPAR + '</td>' +
                                    '<td>' + data[trav].TANGGAL_CLOSE + '</td>' +
                                    '<td>' + data[trav].KETERANGAN_CANCEL + '</td>' +
                                    '<td>' + data[trav].TANGGAL_CANCEL + '</td>' +
                                '<td hidden>' + data[trav].REQ_ID + '</td></tr>';
                            }
                        }
                    }
                    $('#deviationdatatable').DataTable().clear().destroy();
                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable({
                        aaSorting: [[1, 'desc']]
                    });


                    //if (checkLoading == 0) {
                    //    $('#divLoading').prop('hidden', true);
                    //    $('#cardTable').prop('hidden', false);
                    //    checkLoading = 0;
                    //}
                    @*Print();
                    View();*@
                },
                error: function (ex) {

                    alert(JSON.stringify(ex));
                }
            });
        };
        function StatusPenyimpangan() {
            //Status Penyimpangan
            $.ajax({
                url: "../DataDeviasi/StatusPenyimpangan",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var count = data.length;
                    var trhtml = '';
                    var trav = 0;
                    trhtml += '<option disabled selected hidden class="dropdown-header">   Status Penyimpangan   </option>';
                    trhtml += '<Option class="dropdown-item" value="All"> All';
                    if (count > 0) {
                        for (trav = 0; trav < count; trav++) {
                            trhtml += '<Option class="dropdown-item" value = "' + data[trav].STATUS + '" > ' + data[trav].STATUS_PENYIMPANGAN;
                        }
                    }
                    $("#statuspenyimpangan").empty();
                    $("#statuspenyimpangan").append(trhtml);
                    $("#statuspenyimpangan").selectpicker();
                },
                error: function (ex) {
                    alert('Error : ' + JSON.stringify(ex));
                }
            });
        }

        function DepartementPelapor() {
            //Departemen Pelapor
            $.ajax({
                url: "../DataDeviasi/DepartemenPelapor",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var count = data.length;
                    var trhtml = '';
                    var trav = 0;
                    trhtml += '<option disabled selected hidden class="dropdown-header">   Departemen Pelapor   </option>';
                    trhtml += '<Option class="dropdown-item" value="All"> All';
                    if (count > 0) {
                        for (trav = 0; trav < count; trav++) {
                            trhtml += '<Option class="dropdown-item" value = "' + data[trav].DEPARTEMENT + '" > ' + data[trav].DEPARTEMENT;
                        }
                    }
                    $("#departemenpelapor").empty();
                    $("#departemenpelapor").append(trhtml);
                    $("#departemenpelapor").selectpicker();
                },
                error: function (ex) {
                    alert('Error : ' + JSON.stringify(ex));
                }
            });
        }

        function KategoriPenyimpangan() {
            //KategoriPenyimpangan
            $.ajax({
                url: "../DataDeviasi/KategoriPenyimpangan",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var count = data.length;
                    var trhtml = '';
                    var trav = 0;
                    trhtml += '<option disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
                    trhtml += '<Option class="dropdown-item" value="All"> All';
                    if (count > 0) {
                        for (trav = 0; trav < count; trav++) {
                            trhtml += '<Option class="dropdown-item" value = "' + data[trav].DEVIATION_CATEGORY + '" > ' + data[trav].KATEGORI_PENYIMPANGAN;
                        }
                    }
                    $("#kategoripenyimpangan").empty();
                    $("#kategoripenyimpangan").append(trhtml);
                    $("#kategoripenyimpangan").selectpicker();
                },
                error: function (ex) {
                    alert('Error : ' + JSON.stringify(ex));
                }
            });
        }

        function JenisPenyimpangan() {
            //JenisPenyimpangan
            $.ajax({
                url: "../DataDeviasi/JenisPenyimpangan",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var count = data.length;
                    var trhtml = '';
                    var trav = 0;
                    trhtml += '<option disabled selected hidden class="dropdown-header">   Jenis Penyimpangan   </option>';
                    if (count > 0) {
                        for (trav = 0; trav < count; trav++) {


                            if (data[trav].PLAN_DEV == "Yes") {
                                trhtml += '<Option class="dropdown-item" value = "' + data[trav].PLAN_DEV + '" >Terencana';
                            } else if (data[trav].PLAN_DEV == "No") {
                                trhtml += '<Option class="dropdown-item" value = "' + data[trav].PLAN_DEV + '" >Tidak Terencana';
                            }
                        }
                    }
                    $("#jenispenyimpangan").empty();
                    $("#jenispenyimpangan").append(trhtml);
                    $("#jenispenyimpangan").selectpicker();
                },
                error: function (ex) {
                    alert('Error : ' + JSON.stringify(ex));
                }
            });
        }

        function TahunPelaporan(){
            //Tahun Pelaporan
            $.ajax({
                url: "../DataDeviasi/TahunLaporan",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var count = data.length;
                    var trhtml = '';
                    var trav = 0;
                    trhtml += '<option disabled selected hidden class="dropdown-header">Tahun Pelaporan</option>';
                    if (count > 0) {
                        for (trav = 0; trav < count; trav++) {
                            trhtml += '<Option class="dropdown-item" value = "' + data[trav].TAHUN_LAPORAN + '" > ' + data[trav].TAHUN_LAPORAN;
                        }
                    }
                    $("#tahunpelaporan").empty();
                    $("#tahunpelaporan").append(trhtml);
                    $("#tahunpelaporan").selectpicker();
                },
                error: function (ex) {
                    alert('Error : ' + JSON.stringify(ex));
                }
            });
        }

        function LoadFilter() {

            StatusPenyimpangan();

            DepartementPelapor();

            KategoriPenyimpangan();

            JenisPenyimpangan();

            TahunPelaporan();

            $("#ddlSitePenyimpangan").selectpicker();
            $("#ddlBulanPelaporan").selectpicker();
        }

        function LoadData() {
            $.ajax({
                url: "../DataDeviasi/FilteredTable",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    @*console.log(data)*@
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;
                    checkLoading = 1;
                    for (trav = 0; trav < Count; trav++) {
                        if (data[trav].STAT == 'PICDD1' || data[trav].STAT == 'VTROK1' || data[trav].STAT == 'CAPANO' || data[trav].STAT == 'CAPAYS' || data[trav].STAT == 'CLOSE')
                        {
                            // BISA DONLOT
                            trHTML +=
                                '<tr><td> <input type="button" class="btn btn-success" style="margin-right:4px;width:auto;" id="Print" data-toggle="modal" data-target="#Modal_Print" value="Print" /><input type="button" id="View" value="View" class="btn btn-info View" style="width:auto;"/></td>' +
                                '<td>' + data[trav].REQ_ID + '</td>' +
                                '<td>' + data[trav].DEVIATION_NO + '</td>' +
                                '<td>' + data[trav].EMPNAME + '</td>' +
                                '<td>' + data[trav].DEVIATION_CATEGORY + '</td>' +
                                '<td>' + data[trav].PLAN_DEV + '</td>' +
                                '<td align="justify" style="text-overflow:ellipsis;" class="ellipsis">' + data[trav].PROBLEM + '</td>' +
                                '<td>' + data[trav].STATUS + '</td>' +
                                '<td>' + data[trav].APPROVERNAME + '</td>' +
                                '<td>' + data[trav].NO_CARPAR + '</td>' +
                                '<td>' + data[trav].TANGGAL_CLOSE + '</td>' +
                                '<td>' + data[trav].KETERANGAN_CANCEL + '</td>' +
                                '<td>' + data[trav].TANGGAL_CANCEL + '</td>' +
                                '<td hidden>' + data[trav].REQ_ID + '</td>';

                            // WHEN GOT REJECTED WHATSOEVER
                        } else {
                            // LIAT DOANG
                            trHTML +=
                                '<tr><td align="center"><input type="button" id="View" value="View" class="btn btn-info View" style="width:auto;"/></td>' +
                                '<td>' + data[trav].REQ_ID + '</td>' +
                                '<td>' + data[trav].DEVIATION_NO + '</td>' +
                                '<td>' + data[trav].EMPNAME + '</td>' +
                                '<td>' + data[trav].DEVIATION_CATEGORY + '</td>' +
                                '<td>' + data[trav].PLAN_DEV + '</td>' +
                                '<td align="justify" style="text-overflow:ellipsis;" class="ellipsis">' + data[trav].PROBLEM + '</td>' +
                                '<td>' + data[trav].STATUS + '</td>' +
                                '<td>' + data[trav].APPROVERNAME + '</td>' +
                                '<td>' + data[trav].NO_CARPAR + '</td>' +
                                '<td>' + data[trav].TANGGAL_CLOSE + '</td>' +
                                '<td>' + data[trav].KETERANGAN_CANCEL + '</td>' +
                                '<td>' + data[trav].TANGGAL_CANCEL + '</td>' +
                                '<td hidden>' + data[trav].REQ_ID + '</td>';
                        }
                    }

                    if (checkLoading > 0) {
                    //$('#divLoading').prop('hidden', false);
                        $('#cardTable').prop('hidden', false);
                        checkLoading = 0;
                    }

                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable({
                        aaSorting: [[1, 'desc']]
                    });

                    objDeviation = data;
                  @*  Print();
                    View();*@
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }

        function Print(button) {
            var row = $(button).closest("TR");

            //var Nomor = $("TD", row).eq(0).html();
            var Nomor = $("TD", row).eq(1).html() + $("TD", row).eq(2).html();


            window.location.href = "../DataDeviasi/Report?Nomor=" + Nomor;
        }

        function View(button) {
            var row = $(button).closest("TR");

            //var Nomor = $("TD", row).eq(0).html();
            var Nomor = $("TD", row).eq(1).html();

            window.location.href = "../DataDeviasi/Deviasi?Nomor=" + Nomor

        }

    </script>

</body>





