
@{
    ViewBag.Title = "FindMasterList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer nonce="mDJR1g72ANhqRAaXdMQt5A=="></script>

<style>
    .ellipsis {
        max-width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>

<body>
    <div class="content-body">
        <div class="container-fluid">
            <div class="card">

                <div class="card-body">
                    <div class="form-group">
                        <h2 class="d-inline">Master List</h2>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-danger" value="Clear" id="ClearFilter">Clear Filter</button>
                        <button class="btn btn-success" id="PrintFindMasterList">Print</button>
                    </div>

                    

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">Status Penyimpangan</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="statuspenyimpangan">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">Departemen Pelapor</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="departemenpelapor">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">Kategori Penyimpangan</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="kategoripenyimpangan">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">Jenis Penyimpangan</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="jenispenyimpangan">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">Tahun Pelaporan</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="btn-group">
                                        <div class="basic-dropdown">
                                            <div class="dropdown ">
                                                <select id="tahunpelaporan">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <table class="table table-striped table-bordered zero-configuration nowrap table-responsive" width="100%" id="deviationdatatable">
                        <thead>
                            <tr>
                                <th width="100px">Created Date</th>
                                <th width="100px">Nomor Penyimpangan</th>
                                <th width="100px">Nama Pelapor</th>
                                <th width="100px">Kategori Penyimpangan</th>
                                <th width="100px">Jenis Penyimpangan</th>
                                <th width="100px">Status</th>
                                <th width="100px">Outstanding Approver</th>
                                <th width="100px">Nomor CAPA</th>
                                <th width="100px">Tanggal Closed</th>
                                <th width="100px">Alasan Canceled</th>
                                <th width="100px">Tanggal Canceled</th>
                            </tr>
                        </thead>
                        <tbody id="deviationtable" class="nowrap">
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script nonce="4zl6OBiYG/vQS1aB9OWCnA==">
        $(document).ready(function () {
            // Load User once the page is loaded
            LoadData();
            LoadFilter();
            CheckFilter();

            $("#ClearFilter").click(function () {
                ClearFilter();
            });

            $("#PrintFindMasterList").click(function () {
                PrintFindMasterList();
            });

        });

        // CLEAR FILTER

        function ClearFilter() {

            $("#statuspenyimpangan").val('Status Penyimpangan');
            $("#statuspenyimpangan").selectpicker("refresh");

            $("#departemenpelapor").val('Departemen Pelapor');
            $("#departemenpelapor").selectpicker("refresh");

            $("#kategoripenyimpangan").val('Kategori Penyimpangan');
            $("#kategoripenyimpangan").selectpicker("refresh");

            $("#jenispenyimpangan").val('Jenis Penyimpangan');
            $("#jenispenyimpangan").selectpicker("refresh");

            $("#tahunpelaporan").val('Tahun Pelaporan');
            $("#tahunpelaporan").selectpicker("refresh");

            $('#deviationdatatable').DataTable().clear().destroy();
            LoadData();
        }

        function PrintFindMasterList() {
            var sp;
            var dp;
            var kp;
            var jp;
            var tp;

            // DEAL WITH NULL VALUE
            if (!$("#statuspenyimpangan").val()) {
                sp === null;
            } else {
                sp = $("#statuspenyimpangan").val();
            }

            if (!$("#departemenpelapor").val()) {
                dp === null;
            } else {
                dp = $("#departemenpelapor").val();
            }

            if (!$("#kategoripenyimpangan").val()) {
                kp === null;
            } else {
                kp = $("#kategoripenyimpangan").val();
            }

            if (!$("#jenispenyimpangan").val()) {
                jp === null;
            } else {
                jp = $("#jenispenyimpangan").val();
            }

            if (!$("#tahunpelaporan").val()) {
                tp === null;
            } else {
                tp = $("#tahunpelaporan").val();
            }

            var nama = '@Request.RequestContext.HttpContext.Session["xUser"]'

            window.location.href = "../DataDeviasi/PrintFindMasterList?sp=" + sp + "&dp=" + dp + "&kp=" + kp + "&jp=" + jp + "&tp=" + tp + "&nama=" + nama
        }

        //AUTO SEND PARAMETER

        function CheckFilter() {
            $("#statuspenyimpangan").change(function () {
                if ($("#statuspenyimpangan").val() != "") {

                    var sp = $("#statuspenyimpangan").val();
                    var dp = $("#departemenpelapor").val();
                    var kp = $("#kategoripenyimpangan").val();
                    var jp = $("#jenispenyimpangan").val();
                    var tp = $("#tahunpelaporan").val();

                    FilteredTable(sp, dp, kp, jp, tp);
                }
            });

            $("#departemenpelapor").change(function () {
                if ($("#departemenpelapor").val() != "") {

                    var sp = $("#statuspenyimpangan").val();
                    var dp = $("#departemenpelapor").val();
                    var kp = $("#kategoripenyimpangan").val();
                    var jp = $("#jenispenyimpangan").val();
                    var tp = $("#tahunpelaporan").val();

                    FilteredTable(sp, dp, kp, jp, tp);

                }
            });

            $("#kategoripenyimpangan").change(function () {
                if ($("#kategoripenyimpangan").val() != "") {

                    var sp = $("#statuspenyimpangan").val();
                    var dp = $("#departemenpelapor").val();
                    var kp = $("#kategoripenyimpangan").val();
                    var jp = $("#jenispenyimpangan").val();
                    var tp = $("#tahunpelaporan").val();

                    FilteredTable(sp, dp, kp, jp, tp);

                }
            });

            $("#jenispenyimpangan").change(function () {
                if ($("#jenispenyimpangan").val() != "") {

                    var sp = $("#statuspenyimpangan").val();
                    var dp = $("#departemenpelapor").val();
                    var kp = $("#kategoripenyimpangan").val();
                    var jp = $("#jenispenyimpangan").val();
                    var tp = $("#tahunpelaporan").val();

                    FilteredTable(sp, dp, kp, jp, tp);

                }
            });

            $("#tahunpelaporan").change(function () {
                if ($("#tahunpelaporan").val() != "") {

                    var sp = $("#statuspenyimpangan").val();
                    var dp = $("#departemenpelapor").val();
                    var kp = $("#kategoripenyimpangan").val();
                    var jp = $("#jenispenyimpangan").val();
                    var tp = $("#tahunpelaporan").val();

                    FilteredTable(sp, dp, kp, jp, tp);

                }
            });

        }

        // SEND PARAMETER TO CONTROLLER

        function FilteredTable(sp, dp, kp, jp, tp) {

            var statuspenyimpangan = sp;
            var departemenpelapor = dp;
            var kategoripenyimpangan = kp;
            var jenispenyimpangan = jp;
            var tahunpelaporan = tp;

            var dto = {
                StatusPenyimpangan: statuspenyimpangan,
                DepartemenPelapor: departemenpelapor,
                KategoriPenyimpangan: kategoripenyimpangan,
                JenisPenyimpangan: jenispenyimpangan,
                TahunPelaporan: tahunpelaporan
            }

            $.ajax({
                url: "../DataDeviasi/MasterListFilteredTable",
                type: "post",
                data: JSON.stringify(dto),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;

                    if (Count == '0') {
                        trHTML +=
                            '<tr><td> N/A </td>' +
                            '<td> N/A </td>' +
                            '<td> N/A </td>' +
                            '<td> N/A </td>' +
                            '<td> N/A </td>' +
                            '<td> N/A </td>' +
                            '<td> N/A </td>' +
                            '<td> N/A </td>' +
                            '<td> N/A </td>' +
                            '<td> N/A </td>' +
                            '<td> N/A </td>';
                    } else {
                        for (trav = 0; trav < Count; trav++) {

                            trHTML +=
                                '<tr><td>' + data[trav].CREATION_DATE + '</td>' +
                                '<td>' + data[trav].DEVIATION_NO + '</td>' +
                                '<td>' + data[trav].EMPNAME + '</td>' +
                                '<td>' + data[trav].DEVIATION_CATEGORY + '</td>' +
                                '<td>' + data[trav].PLAN_DEV + '</td>' +
                                '<td>' + data[trav].STATUS + '</td>' +
                                '<td>' + data[trav].APPROVERNAME + '</td>' +
                                '<td>' + data[trav].NO_CARPAR + '</td>' +
                                '<td>' + data[trav].CLOSED_DATE + '</td>' +
                                '<td>' + data[trav].ALASAN_CANCEL + '</td>' +
                                '<td>' + data[trav].CANCEL_DATE + '</td>';

                        }
                    }

                    

                    $('#deviationdatatable').DataTable().clear().destroy();
                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable();


                },
                error: function (ex) {

                    alert(JSON.stringify(ex));
                }
            });
        };

        function LoadFilter() {

            //Status Penyimpangan
            $.ajax({
                url: "../DataDeviasi/StatusPenyimpanganMLFT",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    var count = data.length;
                    var trhtml = '';
                    var trav = 0;
                    trhtml += '<option disabled selected hidden class="dropdown-header">   Status Penyimpangan   </option>';
                    trhtml += '<option class="dropdown-item" value="All"> All</option>';
                    if (count > 0) {
                        for (trav = 0; trav < count; trav++) {

                            trhtml += '<Option class="dropdown-item" value = "' + data[trav].STATUS + '" > ' + data[trav].STATUS_PENYIMPANGAN;
                        }
                    }
                    $("#statuspenyimpangan").empty();
                    $("#statuspenyimpangan").append(trhtml);
                    $("#statuspenyimpangan").selectpicker();
                },
                error: function (ex) {
                    alert('Error : ' + JSON.stringify(ex));
                }
            });

            //Departemen Pelapor
            $.ajax({
                url: "../DataDeviasi/DepartemenPelaporMLFT",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var count = data.length;
                    var trhtml = '';
                    var trav = 0;
                    trhtml += '<option disabled selected hidden class="dropdown-header">   Departemen Pelapor   </option>';
                    trhtml += '<option class="dropdown-item" value="All"> All</option>';
                    if (count > 0) {
                        for (trav = 0; trav < count; trav++) {
                            trhtml += '<Option class="dropdown-item" value = "' + data[trav].DEPARTEMENT + '" > ' + data[trav].DEPARTEMENT;
                        }
                    }
                    $("#departemenpelapor").empty();
                    $("#departemenpelapor").append(trhtml);
                    $("#departemenpelapor").selectpicker();
                },
                error: function (ex) {
                    alert('Error : ' + JSON.stringify(ex));
                }
            });

            //KategoriPenyimpangan
            $.ajax({
                url: "../DataDeviasi/KategoriPenyimpanganMLFT",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var count = data.length;
                    var trhtml = '';
                    var trav = 0;
                    trhtml += '<option disabled selected hidden class="dropdown-header">   Kategori Penyimpangan   </option>';
                    trhtml += '<option class="dropdown-item" value="All"> All</option>';
                    if (count > 0) {
                        for (trav = 0; trav < count; trav++) {
                            trhtml += '<Option class="dropdown-item" value = "' + data[trav].DEVIATION_CATEGORY + '" > ' + data[trav].KATEGORI_PENYIMPANGAN;
                        }
                    }
                    $("#kategoripenyimpangan").empty();
                    $("#kategoripenyimpangan").append(trhtml);
                    $("#kategoripenyimpangan").selectpicker();
                },
                error: function (ex) {
                    alert('Error : ' + JSON.stringify(ex));
                }
            });

            //JenisPenyimpangan
            $.ajax({
                url: "../DataDeviasi/JenisPenyimpanganMLFT",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var count = data.length;
                    var trhtml = '';
                    var trav = 0;
                    trhtml += '<option disabled selected hidden class="dropdown-header">   Jenis Penyimpangan   </option>';
                    trhtml += '<option class="dropdown-item" value="All"> All</option>';
                    if (count > 0) {
                        for (trav = 0; trav < count; trav++) {


                            if (data[trav].PLAN_DEV == "Yes") {
                                trhtml += '<Option class="dropdown-item" value = "' + data[trav].PLAN_DEV + '" >Terencana';
                            } else if (data[trav].PLAN_DEV == "No") {
                                trhtml += '<Option class="dropdown-item" value = "' + data[trav].PLAN_DEV + '" >Tidak Terencana';
                            }
                        }
                    }
                    $("#jenispenyimpangan").empty();
                    $("#jenispenyimpangan").append(trhtml);
                    $("#jenispenyimpangan").selectpicker();
                },
                error: function (ex) {
                    alert('Error : ' + JSON.stringify(ex));
                }
            });

            //Tahun Pelaporan
            $.ajax({
                url: "../DataDeviasi/TahunLaporanMLFT",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var count = data.length;
                    var trhtml = '';
                    var trav = 0;
                    trhtml += '<option disabled selected hidden class="dropdown-header">   Tahun Laporan   </option>';
                    if (count > 0) {
                        for (trav = 0; trav < count; trav++) {
                            trhtml += '<Option class="dropdown-item" value = "' + data[trav].TAHUN_LAPORAN + '" > ' + data[trav].TAHUN_LAPORAN;
                        }
                    }
                    $("#tahunpelaporan").empty();
                    $("#tahunpelaporan").append(trhtml);
                    $("#tahunpelaporan").selectpicker();
                },
                error: function (ex) {
                    alert('Error : ' + JSON.stringify(ex));
                }
            });

        }

        function LoadData() {

            $.ajax({
                url: "../DataDeviasi/DD_LoadDataTableMLFT",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;

                    for (trav = 0; trav < Count; trav++) {

                        trHTML +=
                            '<tr><td>' + data[trav].CREATION_DATE + '</td>' +
                            '<td>' + data[trav].DEVIATION_NO + '</td>' +
                            '<td>' + data[trav].EMPNAME + '</td>' +
                            '<td>' + data[trav].DEVIATION_CATEGORY + '</td>' +
                            '<td>' + data[trav].PLAN_DEV + '</td>' +
                            '<td>' + data[trav].STATUS + '</td>' +
                            '<td>' + data[trav].APPROVERNAME + '</td>' +
                            '<td>' + data[trav].NO_CARPAR + '</td>' +
                            '<td>' + data[trav].CLOSED_DATE + '</td>' +
                            '<td>' + data[trav].ALASAN_CANCEL + '</td>' +
                            '<td>' + data[trav].CANCEL_DATE + '</td>';

                    }

                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable();


                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }


    </script>

</body>







