
@{
    ViewBag.Title = "ListDeviasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>

<body>
    <div class="content-body">
        <div class="container-fluid">
            <div class="card">
                
                <div class="card-body">
                    <div class="form-group">
                        <h2 class="d-inline">Deviation List</h2>
                    </div>

                    <div class="form-group">
                        <input type="button" id="MasterList" value="Print Master List" class="btn btn-info" style="width:auto;" />
                        <input type="button" id="LeadTime" value="Print Lead Time" class="btn btn-info" style="width:auto;" />
                    </div>

                    <div class="form-group">
                        <input type="button" id="Find" value="Find Deviation" class="btn btn-info" style="width:auto;" />
                        <input type="button" id="FindMasterList" value="Find Master List" class="btn btn-info" style="width:auto;" />
                        <input type="button" id="FindLeadTime" value="Find Lead Time" class="btn btn-info" style="width:auto;" />

                    </div>

                    <table class="table table-striped table-bordered zero-configuration nowrap table-responsive" id="deviationdatatable" width="100%">
                        <thead>
                            <tr>
                                <th width="100px">Request ID</th>
                                <th width="100px">Deviation Number</th>
                                <th width="100px">Creation Date</th>
                                <th width="100px">NIK Proposer</th>
                                <th width="100px">Proposer Name</th>
                                <th width="100px">Site Location</th>
                                <th width="100px">Deviation Category</th>
                                <th width="100px">Status</th>
                                <th width="100px">Action</th>
                                <th width="100px" hidden>Action</th>


                            </tr>
                        </thead>
                        <tbody id="deviationtable" class="nowrap">
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Load User once the page is loaded
            LoadData();

            //On click function button Print
            $('#deviationdatatable tbody').on('click', 'input[class="Print"]', function () {
                var row = $(this).closest("TR");
                //var Nomor = $("TD", row).eq(0).html();
                var Nomor = $("TD", row).eq(1).html() + $("TD", row).eq(2).html();

                window.location.href = "../DataDeviasi/Report?Nomor=" + Nomor;
            })

            $("#Find").click(function () {
                window.location.href = "../DataDeviasi/FindDeviation"
            });

            $("#MasterList").click(function () {
                MasterList();
            });

            $("#LeadTime").click(function () {
                LeadTime();
            });

            $("#FindMasterList").click(function () {
                window.location.href = "../DataDeviasi/FindMasterList"
            });

            $("#FindLeadTime").click(function () {
                window.location.href = "../DataDeviasi/FindLeadTime"
            });

        });

        function LoadData() {

            $.ajax({
                url: "../DataDeviasi/DD_LoadDataTable",
                type: "post",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;
                    for (trav = 0; trav < Count; trav++) {


                        trHTML +=
                            '<tr><td align="center"><a href="../DataDeviasi/Deviasi?Nomor=' + data[trav].REQ_ID + ' "">' + data[trav].REQ_ID + '</td>' +
                            '<td align="center">' + data[trav].DEVIATION_NO + '</td>' +
                            '<td align="center">' + data[trav].CREATION_DATE + '</td>' +
                            '<td align="center">' + data[trav].NIK + '</td>' +
                            '<td align="center">' + data[trav].EMPNAME + '</td>' +
                            '<td align="center">' + data[trav].LOCATION_SITE + '</td>' +
                            '<td align="center">' + data[trav].DEVIATION_CATEGORY + '</td>' +
                            '<td align="center">' + data[trav].STATUS + '</td>' +
                            '<td align="center"> <input type="button" id="Print" value="Print" class="btn btn-success Print" style="width:100px;"/></td>' +
                            '<td align="center" hidden>' + data[trav].REQ_ID + '</td>';



                    }

                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable();

                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }


        @*function View(button) {
            var row = $(button).closest("TR");

            var Nomor = $("TD", row).eq(0).html();

            window.location.href = "../DataDeviasi/Deviasi?Nomor=" + Nomor


        }*@

        function MasterList() {

            var Nama = '@Request.RequestContext.HttpContext.Session["xUser"]';

            window.location.href = "../DataDeviasi/MasterList?Nama=" + Nama
        }

        function LeadTime() {
            var Nama = '@Request.RequestContext.HttpContext.Session["xUser"]';

            window.location.href = "../DataDeviasi/LeadTime?Nama=" + Nama
        }

    </script>

</body>



