
@{
    ViewBag.Title = "PendingTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>

<style>
    .ellipsis {
        max-width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>

<body>
    <div class="content-body">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <h2 class="d-inline">B7 Deviation Pending List</h2>
                    </div>

                    <table class="table table-striped table-bordered zero-configuration nowrap table-responsive" width="100%" id="deviationdatatable">
                        <thead>
                            <tr>
                                <th width="100px">Request ID</th>
                                <th width="100px">Nomor Penyimpangan</th>
                                <th width="100px">Nama Pelapor</th>
                                <th width="100px">Kategori Penyimpangan</th>
                                <th width="100px">Jenis Penyimpangan</th>
                                <th width="100px">Deskripsi Singkat</th>
                                <th width="100px">Status</th>
                                <th width="100px">Alasan Reject</th>
                                <th width="100px">Assign To</th>
                                <th width="100px" hidden>SENDTO</th>
                                <th width="100px">Nomor CAPA</th>
                                <th width="100px">Tanggal Closed</th>
                                <th width="100px">Alasan Cancelled</th>
                                <th width="100px">Tanggal Cancelled</th>
                                <th width="100px" hidden>Action</th>
                            </tr>
                        </thead>
                        <tbody id="deviationtable" class="nowrap">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            LoadData();
        });

        function LoadData() {
            var loginuser = '@Request.RequestContext.HttpContext.Session["xUser"]';

            var dto = {
                IDUSER: loginuser
            }

            $.ajax({
                type: "POST",
                url: "../DataDeviasi/LoadPendingList",
                data: JSON.stringify(dto),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;
                    for (trav = 0; trav < Count; trav++) {

                        if (data[trav].SEND_TO == 'Pelapor') {
                            if (data[trav].STAT == 'OPEN') {
                                trHTML +=
                                    '<tr><td><a href="../PelaporPenyimpangan/ProposerHeader?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';
                            } else {
                                trHTML +=
                                    '<tr><td><a href="../PelaporPenyimpangan/ProposerEdit?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';
                            }

                        } else if (data[trav].SEND_TO == 'Supervisor') {
                            trHTML +=
                                '<tr><td><a href="../SpvPelapor/ApprovalHeader?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';

                        } else if (data[trav].SEND_TO == 'Koordinator') {
                            if (data[trav].STAT == "DTRQM1") {
                                trHTML +=
                                    '<tr><td><a href="../Koordinator/AssignPIC?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';
                            } else if (data[trav].STAT == "RMPIC1" || data[trav].STAT == "PICDD1" || data[trav].STAT == "AHROK1") {
                                trHTML +=
                                    '<tr><td><a href="../Koordinator/VerifikasiTindakanRemidial?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';
                            } else {
                                trHTML +=
                                    '<tr><td><a href="../Koordinator/HeaderKoordinator?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';
                            }

                        } else if (data[trav].SEND_TO == 'Reviewer') {
                            trHTML +=
                                '<tr><td><a href="../Reviewer/ReviewerHeader?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';
                        } else if (data[trav].SEND_TO == 'QManager') {
                            if (data[trav].STAT == 'ADKOR1' || data[trav].STAT == 'OKKOR1' || data[trav].STAT == 'RTDQM1') {
                                trHTML +=
                                    '<tr><td><a href="../QualityManager/QMHeader?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';

                            } else if (data[trav].STAT == 'URABS1') {
                                trHTML +=
                                    '<tr><td><a href="../QualityManager/PICProposal?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';
                            } else {
                                trHTML +=
                                    '<tr><td><a href="../QualityManager/DisposisiProdukMaterialSistem?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';
                            }

                        } else if (data[trav].SEND_TO == 'PICRemidial') {
                            trHTML +=
                                '<tr><td><a href="../PICRemidial/PICHeader?Nomor=' + data[trav].REQ_ID + ' "">' + data[trav].REQ_ID + '</td>';
                        } else if (data[trav].SEND_TO == 'Supervisor PIC') {
                            if (data[trav].STAT == 'URTRD1') {
                                trHTML +=
                                    '<tr><td><a href="../SpvPIC/PICProposal?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>';
                            } else {
                                trHTML +=
                                    '<tr><td><a href="../SpvPIC/HasilRemedial?Nomor=' + data[trav].REQ_ID + '&Dis=' + data[trav].NO_DISPOSISI + '">' + data[trav].REQ_ID + '</td>';
                            }
                        }

                        trHTML +=
                            '<td>' + data[trav].DEVIATION_NO + '</td>' +
                            '<td>' + data[trav].EMPNAME + '</td>' +
                            '<td>' + data[trav].DEVIATION_CATEGORY + '</td>' +
                            '<td>' + data[trav].PLAN_DEV + '</td>' +
                            '<td align="justify" style="text-overflow:ellipsis;" class="ellipsis">' + data[trav].PROBLEM + '</td>' +
                            '<td>' + data[trav].STATUS + '</td>' +
                            '<td>' + data[trav].ALASAN_REJECT + '</td>' +
                            '<td>' + data[trav].APPROVERNAME + '</td>' +
                            '<td hidden>' + data[trav].SEND_TO + '</td>' +
                            '<td>' + data[trav].NO_CARPAR + '</td>' +
                            '<td>' + data[trav].TANGGAL_CLOSE + '</td>' +
                            '<td>' + data[trav].KETERANGAN_CANCEL + '</td>' +
                            '<td>' + data[trav].TANGGAL_CANCEL + '</td>' +
                            '<td hidden>' + data[trav].REQ_ID + '</td>';

                    }

                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable();
                },
                error: function (ex) {
                }
            });
        }
    </script>

</body>

