
@{
    ViewBag.Title = "PendingApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" defer></script>

<body>

    <div class="content-body">

        <div class="container-fluid">
            <div class="card">

                <div class="card-body">
                    <div class="form-group">
                        <h2 class="d-inline">Pending Approval</h2>

                    </div>
                    <table class="table table-striped table-bordered zero-configuration nowrap table-responsive" id="deviationdatatable" width="100%">
                        <thead>
                            <tr>
                                <th width="100px">Request ID</th>
                                <th width="100px">Deviation No</th>
                                <th width="100px">ID Proposer</th>
                                <th width="100px">Proposer Name</th>
                                <th width="100px">Status</th>
                                <th width="100px">PIC Name</th>
                            </tr>
                        </thead>
                        <tbody id="deviationtable" class="nowrap">
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            LoadData();

        });

        function LoadData() {

            var userid = '@Request.RequestContext.HttpContext.Session["xUser"]';
            var dto = {
                IDUSER: userid
            }

            $.ajax({
                url: "/SpvPIC/LoadDeviationData",
                type: "post",
                data: JSON.stringify(dto),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;
                    for (trav = 0; trav < Count; trav++) {

                        if (data[trav].STATUSCODE == 'URTRD1') {
                            trHTML +=
                                '<tr><td><a href="/SpvPIC/PICProposal?Nomor=' + data[trav].REQ_ID + ' ">' + data[trav].REQ_ID + '</td>' +
                                '<td>' + data[trav].DEVIATION_NO + '</td>' +
                                '<td>' + data[trav].ID_PROPOSER + '</td>' +
                                '<td>' + data[trav].PROPOSER_NAME + '</td>' +
                                '<td>' + data[trav].STATUS + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>';

                            

                        } else {
                            trHTML +=
                                '<tr><td><a href="/SpvPIC/HasilRemedial?Nomor=' + data[trav].REQ_ID + '&Dis=' + data[trav].NO_DISPOSISI + '">' + data[trav].REQ_ID + '</td>' +
                                '<td>' + data[trav].DEVIATION_NO + '</td>' +
                                '<td>' + data[trav].ID_PROPOSER + '</td>' +
                                '<td>' + data[trav].PROPOSER_NAME + '</td>' +
                                '<td>' + data[trav].STATUS + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>';
                        }

                        
                    }

                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable();
                    LoadData = function () { };
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }

    </script>

</body>



