<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-custom-all-bordered" id="deviationdatatable" width="3500px" style="color:black;border:solid;">
                                <thead>
                                    <tr>
                                        <th rowspan="2" width="50px">No</th>
                                        <th rowspan="2" width="250px">Usulan Tindakan Remedial</th>
                                        <th rowspan="2" width="150px">Nama PIC</th>
                                        <th rowspan="2">Hasil Tindakan Remedial</th>
                                        <th colspan="5" style="text-align:center">Testing Cost</th>
                                        <th colspan="4" style="text-align:center">Processing Cost</th>
                                        <th colspan="3" style="text-align:center">Reject Cost</th>
                                        <th colspan="6" style="text-align:center">Machine Cost</th>
                                        <th rowspan="2" style="text-align:center" width="100px">Status</th>
                                        <th rowspan="2" style="text-align:center" width="20px">Dokumen Pendukung</th>
                                        <th id="headVerify" rowspan="2" style="text-align:center" width="200px">Verifikasi Tindakan Remedial</th>
                                    </tr>
                                    <tr>
                                        <th width="75px">Jumlah Personel (orang)</th>
                                        <th width="75px">Durasi Pengerjaan (jam)</th>
                                        <th width="75px">Manhours</th>
                                        <th width="75px">Manhours Cost (Rp)</th>
                                        <th width="150px">Cost of Analysis (Rp)</th>
                                        <th width="75px">Jumlah Personel (orang)</th>
                                        <th width="75px">Durasi Pengerjaan (jam)</th>
                                        <th width="75px">Manhours</th>
                                        <th width="75px">Manhours Cost (Rp)</th>
                                        <th width="75px">Material</th>
                                        <th width="75px">Quantity</th>
                                        <th width="75px">Cost Material (Rp)</th>
                                        <th width="75px">Jumlah Teknisi (orang)</th>
                                        <th width="75px">Durasi (jam)</th>
                                        <th width="75px">Manhours</th>
                                        <th width="75px">Manhours Cost (Rp)</th>
                                        <th width="75px">Nama Sparepart</th>
                                        <th width="75px">Harga Sparepart (Rp)</th>
                                        <th width="75px" hidden="hidden">NIK PIC</th>
                                    </tr>

                                </thead>
                                <tbody id="deviationtable">
                                </tbody>
                                <tfoot id="picfooter">


                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card" id="tabel2" hidden="hidden">
                    <div class="card-body">
                        <table class="table table-bordered table-hover verticle-middle table-responsive" id="buktidatatable" width="100%">
                            <thead>
                                <tr>
                                    <th width="75px">No</th>
                                    <th width="100px">NIK PIC</th>
                                    <th width="75px">Nama File</th>

                                </tr>
                            </thead>
                            <tbody id="buktitable" class="nowrap">
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<script nonce="CmeTsLKZ0UrxmNoxywWrPg==">

	function LoadData() {
		var nomor = @ViewBag.nomor;
		var dto = {
			REQID: nomor
		}
		$.when(
			$.ajax({
				url: "../Koordinator/Coor_LoadPICData",
				type: "post",
				data: JSON.stringify(dto),
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				success: function (data) {
					var checkVerify = 0;
					var trHTML = '';
					var trav = 0;
					var Count = data.length;
					for (trav = 0; trav < Count; trav++) {
						var counter = 1;
						counter += trav;
                        trHTML +=
                            '<tr><td align="center">' + counter + '</td>' +
                            '<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                            '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                            '<td>' + data[trav].HASIL_TINDAKAN + '</td>' +

                            '<td align="right">' + data[trav].TESTING_JUMLAH_PELAKSANA + '</td>' +
                            '<td align="right">' + data[trav].TESTING_DURASI_PENGERJAAN + '</td>' +
                            '<td align="right">' + data[trav].TESTING_MANHOURS + '</td>' +
                            //'<td>' + data[trav].TESTING_DURASI_PENGERJAAN * data[trav].TESTING_JUMLAH_PELAKSANA  + '</td>' +
                            '<td align="right">' + data[trav].TESTING_MANHOURS_VALUE + '</td>' +
                            '<td align="right">' + data[trav].TESTING_COST_OF_ANALYSIS + '</td>' +

                            '<td align="right">' + data[trav].PROC_JUMLAH_PELAKSANA + '</td>' +
                            '<td align="right">' + data[trav].PROC_DURASI_PENGERJAAN + '</td>' +
                            //'<td>' + data[trav].PROC_DURASI_PENGERJAAN * data[trav].PROC_JUMLAH_PELAKSANA + '</td>' +
                            '<td align="right">' + data[trav].PROC_MANHOURS + '</td>' +
                            '<td align="right">' + data[trav].PROC_MANHOURS_VALUE + '</td>' +

                            '<td align="right">' + data[trav].REJ_MATERIAL + '</td>' +
                            '<td align="right">' + data[trav].REJ_QUANTITY + '</td>' +
                            '<td align="right">' + data[trav].REJ_COST_MATERIAL + '</td>' +

                            '<td align="right">' + data[trav].MC_JUMLAH_TEKNISI + '</td>' +
                            '<td align="right">' + data[trav].MC_DURASI_PENGERJAAN + '</td>' +
                            '<td align="right">' + data[trav].MC_MANHOURS + '</td>' +
                            '<td align="right">' + data[trav].MC_MANHOURS_VALUE + '</td>' +
                            '<td>' + data[trav].MC_SPAREPART + '</td>' +
                            '<td align="right">' + data[trav].MC_TOTAL_HARGA_SPAREPART + '</td>' +
                            '<td hidden="hidden">' + data[trav].PIC_REMEDIAL_NIK + '</td>' +
                            '<td align="left">' + data[trav].FLAG_PIC + '</td>';

                        @*data[trav].FLAG_PIC == 'REJECTED' ||*@
						if (data[trav].FLAG_PIC == null || data[trav].FLAG_PIC == 'ASSIGNED') {
							trHTML +=
								'<td align="center"> - </td>';

						} else {
							trHTML +=
								'<td align="center"><button id="btnShowBukti" class="btn btn-info"><span class="fa fa-info"><strong></strong></span></button ></td > ';
						}

						if ((data[trav].FLAG_VERIFIKASI == '-' && data[trav].FLAG_PIC == 'REMEDIAL ACCEPTED BY SPV PIC') ||
							(data[trav].FLAG_VERIFIKASI == 'REJECTED' && data[trav].FLAG_PIC == 'REMEDIAL ACCEPTED BY SPV PIC')) {
							trHTML +=
								'<td align="center">' +
								'<button style="width:50px" onclick = "Verifikasi(this)" class="btn btn-success">Verifikasi</button>' +
								'<button style="width:50px" onclick = "RejectVerifikasi(this)" class="btn btn-danger" >Reject</button>' +
								'</td > ';
							//15 Nov 21, tampilkan cap verified
						} else if ((data[trav].FLAG_VERIFIKASI == 'VERIFIED' && data[trav].FLAG_PIC == 'REMEDIAL APPROVED BY COORDINATOR')) {
							trHTML += '<td align="center"><img src="../Content/Pict/verified4.png" /></td>';
						} else {
							trHTML += '<td> N/A </td>';
						}

						if (data[trav].FLAG_VERIFIKASI == 'VERIFIED') {
							checkVerify = checkVerify + 1;
						}
					}

					$('#deviationdatatable').DataTable().clear().destroy();
					$('#deviationtable').empty();
					$('#deviationtable').append(trHTML);

                    $('#deviationdatatable').DataTable({
                        "searching": false,
                        "paging": false,
                        "info": false,
						"ordering": false,
                        "columnsDefs": [{
                            type: 'html-num', targets: '_all'
                        }]
                    });

					if (checkVerify > 0) {
						$('#headVerify').focus();
					}
                    ShowBukti();

				},
				error: function (ex) {
					alert(JSON.stringify(ex));
				}
			})
		).done(
			$.ajax({
				url: "../Koordinator/Coor_LoadPICDataFooter",
				type: "post",
				data: JSON.stringify(dto),
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				success: function (data) {

					var trHTML = '';
					var trav = 0;
					var Count = data.length;
					for (trav = 0; trav < Count; trav++) {

						trHTML +=
                            '<tr>' +
                            '<th colspan="4" rowspan="2" style= "text-align: right;  background-color: #f3f3f3;vertical-align:middle;"> Total</th >' +
                            '<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Testing Manhours</th>' +
                            '<th style="text-align: right; background-color: #f3f3f3">Total Testing Manhours Cost</th>' +
                            '<th style="text-align: right; background-color: #f3f3f3">Total Analysis Cost</th>' +
                            '<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Processing Manhours</th>' +
                            '<th style="text-align: right; background-color: #f3f3f3">Total Processing Cost</th>' +
                            '<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Rejected Cost</th>' +
                            '<th colspan="3" style="text-align: right; background-color: #f3f3f3">Total Machine Manhours</th>' +
                            '<th style="text-align: right; background-color: #f3f3f3">Total Machine Manhours Cost</th>' +
                            '<th colspan="2" style="text-align: right; background-color: #f3f3f3">Total Machine Cost</th>' +
                            '</tr >' +

                            '<tr>' +
                            '<td colspan = "3" align = "right" style = "padding:10px 8px" > ' + data[0].TOTAL_TESTING_MANHOURS + '</td > '
                            +
                            '<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_TESTING_MANHOURS_COST + '</td>' +
                            '<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_TESTING_COA + '</td>' +

                            '<td align="right" colspan="3" style="padding:10px 8px">' + data[0].TOTAL_PROC_MANHOURS + '</td>' +
                            '<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_PROC_COST + '</td>' +

                            '<td align="right" colspan="3" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_REJ_COST + '</td>' +

                            '<td align="right" colspan="3" style="padding:10px 8px">' + data[0].TOTAL_MC_MANHOURS + '</td>' +
                            '<td align="right" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_MC_MANHOURS_COST + '</td>' +
                            '<td align="right" colspan="2" style="padding:10px 8px"> Rp. ' + data[0].TOTAL_MC_HARGA_SPAREPART + '</td></tr>' +


                            '<tr><th colspan = "19" style="text-align:center;background-color: #f3f3f3">Total Times (Total Testing Manhours + Total Processing Manhours + Total Machine Manhours)</th>' +
                            '<td colspan="3" align="right" style="padding:10px 8px">' + data[trav].TOTAL_TIMES + '</td></tr>' +

                            '<tr><th colspan = "19" style="text-align:center;background-color: #f3f3f3">Total Cost (Total Testing Cost + Total Processing Cost + Total Reject Cost + Total Machine Cost)</th>' +
                            '<td colspan="3" align="right" style="padding:10px 8px"> Rp. ' + data[trav].TOTAL_COST + '</td></tr>';
					}

					// NO NEED TO DECLARE DATA TABLE COZ FOOTER IS FOOTER AND THE TABLE IS NOT GONNA CHANGE ANYWAY


					$('#picfooter').append(trHTML);
				},
				error: function (ex) {
					alert(JSON.stringify(ex));
				}
			})
		);
	}

</script>