
@{
    ViewBag.Title = "ProposerHeader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <h4 class="d-inline">Edit Deviation Form</h4>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <button type="button" id="btnSubmit" class="col-sm-2 btn mb-1 btn-success form-control ">
                                            Submit
                                            <span class="fa fa-check-square-o"></span>
                                        </button>
                                        @*<button type="button" id="btnCancel" class="col-sm-2 btn mb-1 btn-danger form-control">
                                            Cancel
                                            <span class="fa fa-ban"></span>
                                        </button>*@

                                        <button type="button" id="btnEdit" class="col-sm-2 btn mb-1 btn-warning form-control">
                                            Edit
                                            <span class="fa fa-edit"></span>
                                        </button>
                                    </div>
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nama</label>
                                        <input id="xdxdxdxd" type="text" class="form-control" readonly="readonly" value="@Request.RequestContext.HttpContext.Session["fullname"]">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtTanggal">Tanggal:</label>
                                        <input class="form-control" readonly="readonly" value="@System.DateTime.Now.ToString("dd-MM-yyyy")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">

        @Html.Partial("~/Views/PelaporPenyimpangan/EditDeviationPartialView.cshtml")
        @*@Html.Partial("PelaporPenyimpangan", "EditDeviationPartialView")*@

    </div>


</div>

<script>


  @*  var elem = document.getElementById('btnEdit');*@
   
    //elem.addEventListener('click', function (e) {
    //    alert('Revisi penyimpangan yang di reject oleh supervisor!');
       
    //});
    //setTimeout(function () {
    //    elem.dispatchEvent(new Event('click'));
    //}, 12000);

    $("#btnSubmit").click(function () {
        if (!$(".form-valide3").valid()) {
            return;
        }
        InsertDeviation();

    });

     // Save Deviation
    function InsertDeviation() {
        var ID_PROPOSER = '@Request.RequestContext.HttpContext.Session["xUser"]';
        var DEPARTEMENT = $("#TbDeptPusul").val();
        var PROBLEM = $("#txtProblem").val();
        var DATE_OF_INCIDENT = $("#date-format").val();
        var LOCATION_SITE = $("#ddlSite").val();

        var DEVIATION_CATEGORY = $("#ddlKategori").val();
        var NO_WO_ORACLE = $('#TxtNoWO').val();
        var Item_Code_Oracle = $('#TxtItemCode').val();
        var No_Batch_Oracle = $('#TxtBatchNo').val();


        //var DEVIATION_TYPE = $("#ddlJenSi").val();
        var KET_CATEGORY = $("#txtKetKategori").val();
        var CR_DATE_USER = $("#TbTglCreated").val();

        var LOCATION = $("#txtLokasi").val();
        var LocationSiteIncident = $('#txtSiteLokasi').val();
        var LocationDeptIncident = $("#txtDept").val();


        var USER_INVOLVED = $("#txtWho").val();
        var ORDER_OF_EVENTS = $("#txtHow").val();

        var PLAN_DEV_FLAG = $('input[name="travel5"]:checked').val();

        var SAME_POTEN_DEV_FLAG = $('input[name="travel1"]:checked').val();
        var SAME_POTEN_DEV = $("#txtsama").val();
        var POTEN_DEV_RLS_FLG = $('input[name="travel2"]:checked').val();
        var POTEN_DEV_RLS = $("#txtrilis").val();
        var POTEN_DEV_OTH_FLG = $('input[name="travel3"]:checked').val();
        var POTEN_DEV_OTH = $("#txtlain").val();
        var ACTION_WHEN_DEV = $("#txtTindakan").val();
        var FILE_UPLOAD_ID = $("#txtUpload").val();
        var QUALITY_PRODUCT = $("#ddlKualProd").val();
        var COMPLIANCE = $("#ddlCompliance").val();
        var RISK_OPERATION = $("#ddlRiskOpr").val();
        var RISK_FINANCIAL = $("#ddlRiskFin").val();
        var RISK_ORGANIZATION = $("#ddlRiskOrg").val();
        var RISK_SECURITY = $("#ddlKeamamananP").val();
        var RISK_HEALTY = $("#ddlKesehatanPer").val();
        var RISK_ENVIRONTMENT = $("#ddlResLingk").val();
        var RISK_INTELLECTUAL = $("#ddlRiskIntelek").val();
        var SEVERTY_DEVIATION = $("#txtKeparahan").val();
        var REQID = $("#lblReq").text();

        var REQ = $("#txtReq").val();

        var THIRTY_FLAG = $('input[name="travel4"]:checked').val();
        var THIRTY = $("#txt30hari").val();

        var FLAG_KOOR = document.getElementById('ddlKategori').value;


        if (FLAG_KOOR == 'QPR' || FLAG_KOOR == 'QNA' || FLAG_KOOR == 'QMT' || FLAG_KOOR == 'LLI') {
            FLAG_KOOR = 'Coordinator_QA';
        } else if (FLAG_KOOR == 'QNS' || FLAG_KOOR == 'HSE' ){
            FLAG_KOOR = 'Coordinator_QS';
        }
        var UsulanRemidial = $('#txtUsulanRemidial').val();

        var FlagReceipt = $('input[name="r_receipt"]:checked').val();
        var QCMaterialManufacturerNo = $('#TxtQCMaterialNo').val();



        var dto = {
            CrDateUser: CR_DATE_USER,
            IdProposer: ID_PROPOSER,
            Departement: DEPARTEMENT,
            Problem: PROBLEM,
            Date_of_incident: DATE_OF_INCIDENT,
            LocationSite: LOCATION_SITE,


            DeviationCategory: DEVIATION_CATEGORY,
            NO_WO_ORACLE: NO_WO_ORACLE,
            Item_Code_Oracle: Item_Code_Oracle,
            No_Batch_Oracle: No_Batch_Oracle,

            //DeviationType: DEVIATION_TYPE,
            KetCategory: KET_CATEGORY,

            Location: LOCATION,
            LocationSiteIncident: LocationSiteIncident,
            LocationDeptIncident: LocationDeptIncident,

            User_involved: USER_INVOLVED,
            OrderOfEvents: ORDER_OF_EVENTS,
            SamePotenDevFlag: SAME_POTEN_DEV_FLAG,
            SamePotennDev: SAME_POTEN_DEV,
            PotenDevRlsFlg: POTEN_DEV_RLS_FLG,
            PotenDevRls: POTEN_DEV_RLS,
            PotenDevOTHFlg: POTEN_DEV_OTH_FLG,
            PotenDevOTH: POTEN_DEV_OTH,

            ActionWhenDev: ACTION_WHEN_DEV,
            File_upload_id: FILE_UPLOAD_ID,
            QualityProduct: QUALITY_PRODUCT,
            Compliance: COMPLIANCE,
            RiskOperasional: RISK_OPERATION,
            RiskFinancial: RISK_FINANCIAL,
            RiskOrganization: RISK_ORGANIZATION,
            RiskSecurity: RISK_SECURITY,
            RiskHealty: RISK_HEALTY,
            RiskEnvirontment: RISK_ENVIRONTMENT,
            RiskIntellectual: RISK_INTELLECTUAL,
            SevertyDeviation: SEVERTY_DEVIATION,
            ReqID: REQID,

            FLAG_KOOR: FLAG_KOOR,

            PLAN_DEV: PLAN_DEV_FLAG,
            THIRTY_FLAG: THIRTY_FLAG,
            THIRTY: THIRTY,
            REQ: REQ,

            UsulanRemidial: UsulanRemidial,
			FlagReceipt: FlagReceipt,
            QCMaterialManufacturerNo: QCMaterialManufacturerNo,

            RoleEditor: 'Pelapor'
        };

        $.ajax({
            url: "../Form/InsertFormDeviation",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                Swal.fire({
                    icon: 'success',
                    title: 'Form Submitted',
                    showConfirmButton: false,
                    timer: 2000
                }).then(() => {
                    if (DEVIATION_CATEGORY == 'QPR' || DEVIATION_CATEGORY == 'QMT') {
                        @* InsertMultipleProduk();*@
                        UpdateMultipleProduk();
                    }
                    CheckDelete = 1;
                    $.when(
                        SendEmailRev()
                    ).then(
                        window.location.href = "../DataDeviasi/PendingTask"
                    );

                });

            }
            , error: function (ex) {
                alert('Error Edit Penyimpangan: ' + JSON.stringify(ex));
            }
        });
    }

</script>