
@{
    ViewBag.Title = "DataTableList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>*@


<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="d-inline">Pending Approval</h2>
                        <div class="table-responsive">
                            <table class="table-hover table-bordered" id="deviationdatatable" width="2000px" style="color:black">
                                <thead>
                                    <tr>
                                        <th style="text-align:center" width="100px">Action</th>
                                        <th style="text-align:center"width="100px">Request ID</th>
                                        <th style="text-align:center"width="100px">Status</th>
                                        <th style="text-align:center"width="350px">Disposisi</th>
                                        <th style="text-align:center"width="100px">Due Date</th>
                                        <th style="text-align:center"width="300px">Action PIC</th>
                                        <th style="text-align:center"width="100px">NIK PIC</th>
                                        <th style="text-align:center"width="100px">Nama PIC</th>
                                        <th style="text-align:center"width="200px">Keterangan Reject</th>
                                        <th style="text-align:center"width="100px">Revisi Due Date/Tindakan</th>
                                    </tr>
                                </thead>
                                <tbody id="deviationtable" >
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    td {
        padding:5px
    }

</style>
<script>
    
    $(document).ready(function () {
        // Load User once the page is loaded
        LoadData();

    });

    function LoadData() {

        var userid = '@Request.RequestContext.HttpContext.Session["xUser"]';
        var reqid = @ViewBag.nomor;
        var dto = {
            IDUSER: userid,
            REQID: reqid
        }

        $.ajax({
            url: "../PICRemidial/PIC_LoadDataTable",
            type: "post",
            data: JSON.stringify(dto),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var trHTML = '';
                var trav = 0;
                var Count = data.length;
                for (trav = 0; trav < Count; trav++) {


                    if (data[trav].USER_ID == data[trav].PIC_REMEDIAL_NIK) {

                        // KALAU ASSIGNED, BRARTI BISA ISI / MINTA REVISI
                        if (data[trav].FLAG_PIC == 'ASSIGNED') {
                            trHTML +=
                                '<tr><td style="text-align:center"><input value="Select" onclick="Open(this, ' + data[trav].NO_DISPOSISI +')" type="button" class="btn btn-success"/>' +
                                '<td style="text-align:center">' + data[trav].REQ_ID + '</td>' +
                                //'<td> Pending Submission </td>' +
                                '<td style="text-align:center">' + data[trav].FLAG_PIC + '</td>' +
                                '<td style="text-align:justify">' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td style="text-align:center">' + data[trav].DUE_DATE + '</td>'+
                                '<td style="text-align:justify">' + data[trav].HASIL_TINDAKAN + '</td>' +
                                '<td style="text-align:center">' + data[trav].PIC_REMEDIAL_NIK + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                                '<td style="text-align:justify">' + data[trav].ALASAN_REJECT + '</td>' +
                                '<td style="text-align:center;"><input value="Revisi" onclick="Revisi(this, ' + data[trav].NO_DISPOSISI+')" type="button" class="btn btn-danger"/>';

                            // BISANYA ISI DOANG
                        } else if (
                            data[trav].FLAG_PIC == 'REMEDIAL REJECTED BY COORDINATOR' ||
                            data[trav].FLAG_PIC == 'REMEDIAL REJECTED BY SPV PIC' ||
                            data[trav].FLAG_PIC == 'REMEDIAL REJECTED BY DIV HEAD' ||
                            data[trav].FLAG_PIC == 'PROPOSAL REJECTED BY SPV PIC' ||
                            data[trav].FLAG_PIC == 'PROPOSAL APPROVED BY SPV PIC' ||
                            data[trav].FLAG_PIC == 'PROPOSAL APPROVED BY MANAGER' ||
                            data[trav].FLAG_PIC == 'PROPOSAL REJECTED BY MANAGER' ||
                            data[trav].FLAG_VERIFIKASI == 'REJECTED'
                        ) {
                            trHTML +=
                                '<tr><td style="text-align:center"><input value="Select" onclick="Open(this, ' + data[trav].NO_DISPOSISI +')" type="button" class="btn btn-success"/>' +
                                '<td style="text-align:center">' + data[trav].REQ_ID + '</td>' +
                                //'<td> Pending Submission </td>' +
                                '<td style="text-align:center">' + data[trav].FLAG_PIC + '</td>' +
                                '<td style="text-align:justify">' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td style="text-align:center">' + data[trav].DUE_DATE + '</td>' +
                                '<td style="text-align:justify">' + data[trav].HASIL_TINDAKAN + '</td>' +
                                '<td style="text-align:center">' + data[trav].PIC_REMEDIAL_NIK + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                                '<td style="text-align:justify">' + data[trav].ALASAN_REJECT + '</td>' +
                                '<td style="text-align:center"> N/A </td>'

                            // KALAU UDAH ISI / MINTA REVISI, STATUSNYA PENDING DAN GABISA NGAPA2IN
                        } else if (data[trav].FLAG_PIC == 'SUBMITTED' || data[trav].FLAG_PIC == 'REVISI DUE DATE') {
                            trHTML +=
                                '<tr><td style="text-align:center"> N/A </td>' +
                                '<td style="text-align:center">' + data[trav].REQ_ID + '</td>' +
                                //'<td> Pending Approval </td>' +
                                '<td style="text-align:center">' + data[trav].FLAG_PIC + '</td>' +
                                '<td style="text-align:justify">' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td style="text-align:center">' + data[trav].DUE_DATE + '</td>' +
                                '<td style="text-align:justify">' + data[trav].HASIL_TINDAKAN + '</td>' +
                                '<td style="text-align:center">' + data[trav].PIC_REMEDIAL_NIK + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                                '<td style="text-align:justify">' + data[trav].ALASAN_REJECT + '</td>' +
                                '<td style="text-align:center"> N/A </td>'
                        }

                        // LIST OF OTHER'S PIC
                    } else {
                        if (data[trav].FLAG_PIC == 'ASSIGNED') {
                            trHTML +=
                                '<tr><td style="text-align:center"> N/A </td>' +
                                '<td style="text-align:center">' + data[trav].REQ_ID + '</td>' +
                                //'<td> Pending Submission </td>' +
                                '<td style="text-align:center">' + data[trav].FLAG_PIC + '</td>' +
                                '<td style="text-align:justify">' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td style="text-align:center">' + data[trav].DUE_DATE + '</td>' +
                                '<td style="text-align:justify">' + data[trav].HASIL_TINDAKAN + '</td>' +
                                '<td style="text-align:center">' + data[trav].PIC_REMEDIAL_NIK + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                                '<td sstyle="text-align:justify">' + data[trav].ALASAN_REJECT + '</td>' +
                                '<td style="text-align:center"> N/A </td>';

                        } else if (
                            data[trav].FLAG_PIC == 'REMEDIAL APPROVED BY COORDINATOR' ||
                            data[trav].FLAG_PIC == 'REMEDIAL REJECTED BY COORDINATOR' ||
                            data[trav].FLAG_PIC == 'REMEDIAL REJECTED BY SPV PIC' ||
                            data[trav].FLAG_PIC == 'REMEDIAL ACCEPTED BY SPV PIC' ||
                            data[trav].FLAG_PIC == 'PROPOSAL REJECTED BY SPV PIC' ||
                            data[trav].FLAG_PIC == 'PROPOSAL APPROVED BY SPV PIC' ||
                            data[trav].FLAG_PIC == 'PROPOSAL APPROVED BY MANAGER' ||
                            data[trav].FLAG_PIC == 'PROPOSAL REJECTED BY MANAGER'
                        ) {
                            trHTML +=
                                '<tr><td style="text-align:center"> N/A </td>' +
                                '<td style="text-align:center">' + data[trav].REQ_ID + '</td>' +
                                //'<td> Pending Submission </td>' +
                                '<td style="text-align:center">' + data[trav].FLAG_PIC + '</td>' +
                                '<td style="text-align:justify">' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td style="text-align:center">' + data[trav].DUE_DATE + '</td>' +
                                '<td style="text-align:justify">' + data[trav].HASIL_TINDAKAN + '</td>' +
                                '<td style="text-align:center">' + data[trav].PIC_REMEDIAL_NIK + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                                '<td style="text-align:justify">' + data[trav].ALASAN_REJECT + '</td>' +
                                '<td style="text-align:center"> N/A </td>'

                            // KALAU UDAH ISI / MINTA REVISI, STATUSNYA PENDING DAN GABISA NGAPA2IN
                        } else if (data[trav].FLAG_PIC == 'SUBMITTED' || data[trav].FLAG_PIC == 'REVISI DUE DATE') {
                            trHTML +=
                                '<tr><td style="text-align:center"> N/A </td>' +
                                '<td style="text-align:center">' + data[trav].REQ_ID + '</td>' +
                                //'<td> Pending Approval </td>' +
                                '<td style="text-align:center">' + data[trav].FLAG_PIC + '</td>' +
                                '<td style="text-align:justify">' + data[trav].KETERANGAN_DISPOSISI + '</td>' +
                                '<td style="text-align:center">' + data[trav].DUE_DATE + '</td>' +
                                '<td style="text-align:justify">' + data[trav].HASIL_TINDAKAN + '</td>' +
                                '<td style="text-align:center">' + data[trav].PIC_REMEDIAL_NIK + '</td>' +
                                '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                                '<td style="text-align:justify">' + data[trav].ALASAN_REJECT + '</td>' +
                                '<td style="text-align:center"> N/A </td>'
                        }

                    }
                }

                //$('#deviationdatatable').DataTable().clear().destroy();
                $('#deviationtable').empty();
                $('#deviationtable').append(trHTML);
                //$('#deviationdatatable').DataTable({
                //    "searching": false,
                //    "paging": false,
                //    "info": false,
                //    "ordering": false
                //});

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function Open(button, no_disposisi) {
        var row = $(button).closest("TR");

        var Nomor = $("TD", row).eq(1).html();
        window.open("../PICRemidial/PICHeader?Nomor=" + Nomor + "&Urutan=" + no_disposisi);
    }

    function Revisi(button, no_disposisi) {

        var row = $(button).closest("TR");

        var Nomor = $("TD", row).eq(1).html();
        window.open("../PICRemidial/UsulanRevisi?Nomor=" + Nomor + "&Urutan=" + no_disposisi);
    }

        </script>

