
@{
    ViewBag.Title = "DataTableList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/Styles/js/jquery.dataTables.min.js" defer></script>

<body>
    <div class="content-body">
        <div class="container-fluid">
            <div class="card">
                
                <div class="card-body">
                    <div class="form-group">
                        <h2 class="d-inline">Pending Approval</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" cellspacing="0" id="deviationdatatable" width="1500px" style="color:black">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Request ID</th>
                                    <th>ID Proposer</th>
                                    <th>Reviewer Name</th>
                                    <th>ID Reviewer</th>
                                    <th>Status</th>
                                    <th>Review</th>
                                    <th>Alasan Reject</th>
                                </tr>
                            </thead>
                            <tbody id="deviationtable" class="nowrap">
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Load User once the page is loaded
            LoadData();

        });

        function LoadData() {
            var reqid = @ViewBag.nomor;
            var userid = '@Request.RequestContext.HttpContext.Session["xUser"]';
            var dto = {
                IDUSER: userid,
                REQID: reqid
            }

            $.ajax({
                url: "../Reviewer/Rev_LoadDeviationData",
                type: "post",
                data: JSON.stringify(dto),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var trHTML = '';
                    var trav = 0;
                    var Count = data.length;
                    for (trav = 0; trav < Count; trav++) {

                        if (data[trav].USER_ID == data[trav].USER_NIK) {
                            trHTML +=
                                '<tr><td><input type="button" class="btn btn-success" value="Open" onclick="Open(this)"></td>';

                        } else {
                            trHTML +=
                                '<tr><td> N/A </td>';
                        }

                        trHTML +=
                            '<td>' + data[trav].REQ_ID + '</td>' +
                            '<td>' + data[trav].ID_PROPOSER + '</td>' +
                            '<td>' + data[trav].USER_NAME + '</td>' +
                            '<td>' + data[trav].USER_NIK + '</td>';

                        if (data[trav].FLAG_REVIEW == 'NOT YET') {
                            trHTML += '<td>PENDING REVIEW</td>';
                        }
                        else if (data[trav].FLAG_REVIEW == 'DONE REVIEW FROM COORDINATOR') {
                            trHTML += '<td>DONE REVIEW</td>';
                        }
                        else {
                            trHTML +=
                                '<td>' + data[trav].FLAG_REVIEW + '</td>';
                        }

                        @*if (data[trav].FLAG_REVIEW == 'NOT YET' || data[trav].FLAG_REVIEW == 'REVIEW REJECTED BY COORDINATOR' || data[trav].FLAG_REVIEW == 'REVIEW REJECTED BY QUALITY MANAGER') {
                            trHTML +=
                                '<td> Pending Review </td>';
                        } else if (data[trav].FLAG_REVIEW == 'REVIEW APPROVED BY COORDINATOR' || data[trav].FLAG_REVIEW == 'REVIEW APPROVED BY QUALITY MANAGER') {
                            trHTML +=
                                '<td> Approved </td>';
                        } else if (data[trav].FLAG_REVIEW == 'DONE REVIEW FROM COORDINATOR' || data[trav].FLAG_REVIEW == 'DONE REVISE FROM COORDINATOR' || data[trav].FLAG_REVIEW == 'DONE REVISE FROM QUALITY MANAGER') {
                            trHTML +=
                                '<td> Pending Approval </td>';
                        }*@

                        trHTML+=
                            '<td>' + data[trav].KETERANGAN_REVIEW + '</td>' +
                            '<td>' + data[trav].KETERANGAN_REJECT + '</td></tr>';

                    }

                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable({
                        "searching": false,
                        "paging": false,
                        "info": false,
                        "ordering": false
                    });
                    LoadData = function () { };
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }

        function Open(button) {
            var row = $(button).closest("TR");

            var Nomor = $("TD", row).eq(1).html();
            window.open("../Reviewer/ReviewerHeader?Nomor=" + Nomor);
        }

    </script>

</body>

