<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <!--<configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" targetFramework="4.5" maxRequestLength="1048576"/>
    <pages validateRequest="false" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <!--10.100.19.52 -->
    <add name="DB_DEVIATION" connectionString="Data Source=b7-dc1dberp.onekalbe.dom;initial catalog=B7_QUALITY_SYSTEM;user id=sab7; password=sqlb7;" providerName="System.Data.SqlClient" />
    <!--<add name="DB_DEVIATION" connectionString="Data Source=10.100.19.52;initial catalog=B7_QUALITY_SYSTEM;user id=sab7; password=Welcome123;" providerName="System.Data.SqlClient" />-->
    <add name="Ora_Con" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=b7db.bintang7.com)(PORT=1601))(CONNECT_DATA=(SERVICE_NAME=B7ERP)));User Id=apps;Password=ora123;" />
  </connectionStrings>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>-->
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; 
             font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com; 
             script-src 'unsafe-inline' 
             'nonce-8c6iClYK6RLvRe1xco4omQ==' 
             'nonce-VVsaDFUhJSnl8xf6+p/VLw==' 
             'nonce-85lE4Ti7iMmbca6TL7pDBA==' 
             'nonce-eMc5SO1n+VN0BJZoSvJSoA==' 
             'nonce-E8waVuwBovEISJumj7f48w==' 
             'nonce-Z5AlnJgXvBUy0++2wGuDUw==' 
             'nonce-lFUopyxWZbX1gbz9pem66Q==' 
             'nonce-bPpRsrd99KCrlx83mCr+Vw==' 
             'nonce-wR0BR+eNVWX8s/tfYkbtIg==' 
             'nonce-EKZVoV+JdUk6xb49VZjQfA==' 
             'nonce-WBOSTPQ1V8keFHTF2eeDLQ==' 
             'nonce-znKxUDEAWq4ZddiIuttZuw==' 
             'nonce-kk3zU/VyFAL5beGVg4sFlA==' 
             'nonce-2GfIqHvRs3spCO4bnc7H4w==' 
             'nonce-18WN/1P3LzwICo+AtHJB+Q==' 
             'nonce-adcVt5iJ1NCi9Ej4XHrP0g==' 
             'nonce-RkfGHxrL757JI8oagOsmQw==' 
             'nonce-KOhimw+L9Ci90RN4Qnjozw==' 
             'nonce-QqA3O4XaoknrE55k/fLYUg==' 
             'nonce-wucrrYJKgZO6cJBFxmrfpw==' 
             'nonce-NRvjn/NskYWsgmOcXrXxJA==' 
             'nonce-e8VkQwe/hlgGqZjoXLnihA==' 
             'nonce-odvMQZEU138Aygbmly3zww==' 
             'nonce-EhZDa09kE//oNiUIdLFKcA==' 
             'nonce-U/6Bl+zgKS18yRAPiSJAJA==' 
             'nonce-20vR3GeEM0jZsaGelojycg==' 
             'nonce-4E69MR5jpeSbU6JluUKSRg==' 
             'nonce-FBGBmcLFKA6p5Vts07JmSw==' 
             'nonce-BNu8TEK5c4hBARTBF27VlA==' 
             'nonce-t4FgCqgtfVl5Fcr+tSMbuw=='
             'nonce-8v4F7XpGhXKS9ktHD/DF3g=='
             'nonce-hlE2GUefXW8L8IBSHM6OMg=='
             'nonce-LcNHmhpw8Xq7eCyN/Je3jA=='
             'nonce-W2zGwzd0AYQO10/Y0HEhkA=='
             'nonce-ERqZWnV5AHi1QTw3oWK9lA=='
             'nonce-A3cIjgA4J7KW6j/Ie1lUYA=='
             'nonce-oj8bYGSEFyn479+QRff6/w=='
             'nonce-WdNr8e6PtepKj9e+VGGwXA=='
             'nonce-7WaC2k3R2nlE7DBQSxfgUA=='
             'nonce-RbLZ6NfOXiR6HNuL16BHfQ=='
             'nonce-vjYLrUBQRP4Pi7oEAEAAlw=='
             'nonce-x7RW8nvksHAHBRa9ZdfJgg=='
             'nonce-6DQnROG/UYcNQI28o4gfLA=='
             'nonce-I9fvt2/HXQ1jdLyrZWeivA=='
             'nonce-H22BA7DHrEPezGzEQvzZCA=='
             'nonce-YZbUqJ19/gC/co0Qweg+tg=='
             'nonce-HGcXqMJby7bETESIO68xBg=='
             'nonce-tZCs005apscfe4S5pz/3ng=='
             'nonce-JjwG7mbtjLyOzQBjHoxSuA=='
             'nonce-orhU0RTCQoGp6XcJF+Zh+g=='
             'nonce-mDJR1g72ANhqRAaXdMQt5A=='
             'nonce-4zl6OBiYG/vQS1aB9OWCnA=='
             'nonce-jX4FrQUJM1QQ00aLDYfNdw=='
             'nonce-i/zDhlZ7ObPNUsSAt7Ntgw=='
             'nonce-oE2p1/s9H5SQ+/bAZbsz9g=='
             'nonce-g0zZzz9jEsi0H0L8sWT4mQ=='
             'nonce-7ebe5Pl+YSMCAtcOsZvQBA=='
             'nonce-F/g50PiTwkdph+Vc6+uL2w=='
             'nonce-J0aJe4NyT1ZYX0u8+4fB9A=='
             'nonce-q7YY0ahQNqR71RfEZOzxQg=='
             'nonce-7CEZHOXtaiNVuyFlr/OV7g=='
             'nonce-9suu/yHWc4EUPySQ6NpQ/Q=='
             'nonce-GOWIXCp5IS8ZQqMgN9NUqg=='
             'nonce-V4llradTBV3cV65IP8L9Sw=='
             'nonce-bHdjYv10pRR1aJ79Mz2uoA=='
             'nonce-a4OCkVK58RuKAbuXM5J5sg=='
             'nonce-lo9i+EAiXLsac1/56eFJuw=='
             'nonce-p/DjaRwBHyrW3x/HG9uRbg=='
             'nonce-r+DUML3HXv8cHBO2VnsJnQ=='
             'nonce-z0WYnC29QJEyjOM1ZRw3CQ=='
             'nonce-QydUTrM7gafVFFt6lmqi0w=='
             'nonce-/uabV0XDIYM1dG70cSOS6Q=='
             'nonce-8kSaHI8GrbxtyEWnJFzJ8g=='
             'nonce-vJ/NCcHD2SW6FUewVJ79YA=='
             'nonce-oF+VMq2x0l6ECpDQWiS8/Q=='
             'nonce-zWm9T/ywX/BMWoPIGN2nyg=='
             'nonce-L7tYWK2rwlkPquSkoGyU5A=='
             'nonce-8YcxPKpqdpAQfP6TG01QXg=='
             'nonce-st6JeEfXgFRcw+LMdLL4xQ=='
             'nonce-STnxe52m7LXn4evvo5NeAQ=='
             'nonce-YkVlSyb7GWXyXfn+Z3nI/Q=='
             'nonce-xHwr219lSXd/1Qu5TQnyXQ=='
             'nonce-qBq7Kj5AQ0HkNqbUCYiPtw=='
             'nonce-Y41wG/NMkbWGBjZeD2YFnw=='
             'nonce-pkfZojT2j93wXouIiA0I5g=='
             'nonce-LDqDXuxy5i5qf56nrxIoMA=='
             'nonce-uXVdmFaNXeMSmD+HC5uIXQ=='
             'nonce-UZ3yq16ZnAf2pZwyh7rNuQ=='
             'nonce-/RQBoe/m33rNbzrVkeyOHA=='
             'nonce-TW/EFiQq+7xPwcKp2lZZwA=='
             'nonce-tcjO+QQ/DmQR4xWUCbmFlA=='
             'nonce-qxEBNYeNPt0vQ+WEMW9QPA=='
             'nonce-Kqa/7HVyyW00cvj6BCzOng=='
             'nonce-zp6t6SYSMiJ6XCI1aOvLnw=='
             'nonce-m7qUmw5fgrux7KUIkOhNEw=='
             'nonce-r/Vw+9TUjOjnGc1sR0G4tQ=='          
             ; object-src 'none';base-uri 'none';" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2000000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>