
@{
    ViewBag.Title = "ChangePassword";
}

<div class="content-body">

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h1 class="d-inline" style="">Change Password</h1>

                <hr />

                <input type="text" hidden="hidden" id="username" value='@Request.RequestContext.HttpContext.Session["xUser"]' />

                <div class="form-validation">
                    <form class="form-user" action="" method="post" id="form-user" onsubmit="return falsefunction(this);">
                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="empid" class="col-form-label">
                                    Employee ID
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="empid" type="text" placeholder="Enter Employee ID" style="display:block;" name="empid" required />
                                <span hidden="hidden" id="confid" class="text-danger">Employee ID Already Exists, Please Insert a Different Employee ID</span>
                            </div>

                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="empname" class="col-form-label">
                                    Name
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="empname" type="text" placeholder="Enter Name" style="display:block;" name="empname" required />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="oldpassword" class="col-form-label">
                                    Old Password
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="oldpassword" type="text" placeholder="Enter Password" style="display:block;" name="password" required />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="password" class="col-form-label">
                                    Password
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="password" type="password" placeholder="Enter Password" style="display:block;" name="password" required />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="repassword" class="col-form-label">
                                    Confirm Password
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="repassword" type="password" placeholder="Enter Password" style="display:block;" name="repassword" required />
                                <span hidden="hidden" class="text-danger" id="redconf">Confirmation Password Must be Same with Password</span>
                            </div>

                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">

                            </div>
                            <div class="col-lg-6">
                                <button id="btnSavePassword" class="btn btn-primary btnSavePassword" style="width:125px">
                                    Save Password
                                </button>
                            </div>

                        </div>

                    </form>
                </div>

            </div>

        </div>

    </div>

</div>

<script nonce="7CEZHOXtaiNVuyFlr/OV7g==">
    $(document).ready(function () {

        LoadData();

        $( "#btnSavePassword" ).click(function() {
            SavePassword();
        });

    });

    function SavePassword() {
       
            var t_username = $("#username").val();
            var pass = $("#password").val();
            var repass = $("#repassword").val();

            if (pass != repass) {

                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Password harus sama',
                    showConfirmButton: true
                })
                

            } else {

                if (!pass || !repass) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Password harus sama',
                        showConfirmButton: true
                    })
                   
                } else {
                    var dto = {
                        Username: t_username,
                        Password: pass
                    }

                    $.ajax({
                        url: "../CMS/CMS_SavePassword",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(dto),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {

                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            })

                            Toast.fire({
                                icon: 'success',
                                title: 'Password Updated!'
                            });

                        }, error: function (ex) {
                            alert(JSON.stringify(ex));
                        }
                    });
                }

            }
    }

    function LoadData() {

        var t_username = $("#username").val();

        var dto = {
            Username: t_username
        }

        $.ajax({
            url: "../CMS/CMS_LoadData",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                $("#empid").val(data[0].empid);
                $("#empid").attr("disabled", true);

                $("#empname").val(data[0].empname);
                $("#empname").attr("disabled", true);

                $("#oldpassword").val(data[0].password);
                $("#oldpassword").attr("disabled", true);



            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
</script>
