
@{
    ViewBag.Title = "InputForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-body">

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary" id="new" style="width:125px">
                    New
                    <span class="btn-icon-right">
                        <i class="fa fa-paperclip"></i>
                    </span>
                </button>
                <button type="submit" class="btn btn-primary" id="submit" style="width:125px">
                    Submit
                    <span class="btn-icon-right">
                        <i class="fa fa-paper-plane"></i>
                    </span>
                </button>
                <button class="btn btn-primary" id="clearall" style="width:125px">
                    Clear All
                    <span class="btn-icon-right">
                        <i class="fa fa-trash"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h1 class="d-inline" style="">User Form</h1>

                <hr />

                <div class="form-validation">
                    <form class="form-user" action="" method="post" id="form-user" onsubmit="return falsefunction(this);">
                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="empid" class="col-form-label">
                                    Employee ID
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="empid" type="text" placeholder="Enter Employee ID" style="display:block;" name="empid" required />
                                <span hidden="hidden" id="confid" class="text-danger">Employee ID Already Exists, Please Insert a Different Employee ID</span>
                            </div>

                            @*<div class="col-lg-2 col-form-label" hidden="hidden">
                                <button class="btn btn-success" type="button" style="width:150px;" onclick="GetVendorID();">Generate VendorID</button>
                            </div>*@

                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="username" class="col-form-label">
                                    Username
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="username" type="text" placeholder="Enter Username" style="display:block;" name="username" required />
                                <span hidden="hidden" id="confusername" class="text-danger">Username Already Exists, Please Insert a Different Username</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="password" class="col-form-label">
                                    Password
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="password" type="password" placeholder="Enter Password" style="display:block;" name="password" required />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="repassword" class="col-form-label">
                                    Confirm Password
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="repassword" type="password" placeholder="Enter Password" style="display:block;" name="repassword" required />
                                <span hidden="hidden" class="text-danger" id="redconf">Confirmation Password Must be Same with Password</span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="email" class="col-form-label">
                                    Email
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="email" type="email" placeholder="Enter Email" style="display:block;" name="email" required />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="empname" class="col-form-label">
                                    Name
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="empname" type="text" placeholder="Enter Name" style="display:block;" name="empname" required />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="jobttlname" class="col-form-label">
                                    Job
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="jobttlname" type="text" placeholder="Enter Job" style="display:block;" name="jobttlname" required />
                            </div>
                        </div>
                        
                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="superiorid" class="col-form-label">
                                    Superior
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <select id="ddlSuperior" class="form-control">
                                    <option value="" class="dropdown-header" selected>Select Superior</option>
                                </select>
                                <input class="form-control" id="superiorid" type="text" placeholder="Enter Superior ID" style="display:block;" name="superiorid" hidden />
                            </div>
                        </div>
                        
                                    
                        @*<div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="superiorid" class="col-form-label">
                                    Superior ID
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="superiorid" type="text" placeholder="Enter Superior ID" style="display:block;" name="superiorid" required />
                            </div>
                        </div>*@

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="superiorname" class="col-form-label">
                                    Superior Name
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="superiorname" type="text" placeholder="Enter Superior Name" style="display:block;" name="superiorname" disabled />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="orggroupname" class="col-form-label">
                                    Department
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="orggroupname" type="text" placeholder="Enter Department" style="display:block;" name="orggroupname" disabled />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="emailsuperior" class="col-form-label">
                                    Superior Email
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <input class="form-control" id="emailsuperior" type="email" placeholder="Enter Superior Email" style="display:block;" name="emailsuperior" disabled />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="role" class="col-form-label">
                                    Deviation Role
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <select id="role" class="form-control">
                                    <option value="" class="dropdown-header" selected>Select Role</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-4 col-form-label">
                                <label for="kategori" class="col-form-label">
                                    Kategori Penyimpangan
                                    <span class="text-danger">*</span>
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <select id="kategori" class="form-control">
                                    <option value="" class="dropdown-header" selected>Kategori Penyimpangan</option>
                                </select>
                            </div>
                        </div>

                        <input type="text" hidden="hidden" id="reconfid" value="" />
                        <input type="text" hidden="hidden" id="reconfusername" value="" />


                    </form>
                </div>

            </div>

        </div>

    </div>


</div>



<script>
    $(document).ready(function () {

        GetRole();
        GetVendorID();
        GetSuperior();
        $("#role").change(function () {
            GetKategoriPenyimpangan();

        });

        $('#new').click(function () {

        });

        $('#submit').click(function () {
            if (!$(".form-user").valid()) {
                return
            };

            // Check Confirmation Password

            if ($("#password").val() != $("#repassword").val()) {
                $("#redconf").removeAttr("Hidden");
                return
            }

            CheckEmpID();
            CheckUserName();

            if ($("#reconfid").val() != "ga ok" && $("#reconfusername").val() != "ga ok") {
                return
            }

            SaveForm();
        });

        $('#clearall').click(function () {
            $('#empid').val(null);
            $('#username').val(null);
            $('#email').val(null);
            $('#empname').val(null);
            $('#jobttlname').val(null);
            $('#superiorid').val(null);
            $('#superiorname').val(null);
            $('#orggroupname').val(null);
            $('#emailsuperior').val(null);
            $('kategori').val(null);
            GetRole();
            Swal.fire(
                'Form Cleared!',
                'Successfuly Cleared Form!',
                'success'
            )
        });

    });

    function GetKategoriPenyimpangan() {
        
        var t_username = "undefined";

        var dto = {
            Username: t_username
        }

        $.ajax({
            url: "../CMS/CMS_GetKategoriPenyimpangan",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var trhtml = "";
                var trav = 0;
                var count = data.length;
                trhtml += '<option disabled class="dropdown-header">* Select Kategori Penyimpangan *</option>';

                if (count > 0) {
                    for (trav = 0; trav < count; trav++) {

                        if ($("#role").val() == 'Coordinator_QA' || $("#role").val() == 'Coordinator_QS') {
                            trhtml += '<Option value = "' + data[trav].DDL_CODE + '" > ' + data[trav].DDL_DESCRIPTION;
                        } else {
                            trhtml += '<Option class="dropdown-item" selected value = " " > - ';
                            break;
                        }


                    }
                }

                $("#kategori").empty();
                $("#kategori").append(trhtml);
                $("#kategori").select2({
                    placeholder: "Kategori Penyimpangan",
                    multiple: true

                });
            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function GetVendorID() {
        $.ajax({
            url: "../CMS/CMS_GetVendorID",
            type: "post",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                $("#empid").val(data[0].VENDORID);
                $("#empid").attr("disabled", true);

                //$("#superiorid").val(data[0].SPVVENDOR);
                //$("#superiorid").attr("disabled", true);



            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function CheckEmpID() {
        var empid = $('#empid').val();

        var dto = {
            empid: empid
        }

        $.ajax({
            url: '../CMS/CMS_CheckEmpID',
            type: 'post',
            data: JSON.stringify(dto),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "ID Exists") {
                    $("#confid").removeAttr("Hidden");
                    $("#reconfid").val("EmpID Ada");
                    $("#empid").val(null);
                } else {
                    $("#confid").attr("Hidden", true);
                    $("#reconfid").val("ga ok");
                }
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }

        });


    }

    function CheckUserName() {
        var username = $('#username').val();

        var dto = {
            Username: username
        }

        $.ajax({
            url: '../CMS/CMS_CheckUsername',
            type: 'post',
            data: JSON.stringify(dto),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "Username Exists") {
                    $("#confusername").removeAttr("Hidden");
                    $("#username").val(null);
                    $("#reconfusername").val("Username Ada");


                } else {
                    $("#confusername").attr("Hidden", true);
                    $("#reconfusername").val("ga ok");
                }
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }

        });
    }

    function SaveForm() {

        var empid = $('#empid').val();
        var username = $('#username').val();
        var password = $('#password').val();
        var email = $('#email').val();
        var empname = $('#empname').val();
        var jobttlname = $('#jobttlname').val();
        var superiorid = $('#superiorid').val();
        var superiorname = $('#superiorname').val();
        var orggroupname = $('#orggroupname').val();
        var emailsuperior = $('#emailsuperior').val();
        var role = $('#role').val();
        var kategori = $('#kategori').val();

        var dto = {
            empid: empid,
            username: username,
            email: email,
            empname: empname,
            password: password,
            jobttlname: jobttlname,
            superiorid: superiorid,
            superiorname: superiorname,
            orggroupname: orggroupname,
            emailsuperior: emailsuperior,
            role: role,
            KategoriPenyimpangan: kategori
        }

        $.ajax({
            url: '../CMS/CMS_SaveForm',
            type: 'post',
            data: JSON.stringify(dto),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                Swal.fire({
                    position: 'middle',
                    icon: 'success',
                    title: 'Successfully Insert User',
                    showConfirmButton: false,
                    timer: 1500
                });
                window.location.href = "/CMS/ShowUser2"
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }

        });
    }

    function GetRole() {
        $.ajax({
            url: "../CMS/CMS_GetRole",
            type: "post",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var trhtml = "";
                var trav = 0;
                var count = data.length;

                trhtml += '<option disabled selected class="dropdown-header">Select Role</option>';
                if (count > 0) {
                    for (trav = 0; trav < count; trav++) {
                        trhtml +=
                            '<option class="dropdown-item" value = "' + data[trav].rolename + '" > ' + data[trav].rolename;
                    }
                }

                $("#role").empty();
                $("#role").append(trhtml);
                $("#role").select2();
            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function GetSuperior() {
        $.ajax({
            url: "../CMS/CMS_GetSuperior",
            type: "post",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var trhtml = "";
                var trav = 0;
                var count = data.length;

                trhtml += '<option disabled selected class="dropdown-header">Select Role</option>';
                if (count > 0) {
                    for (trav = 0; trav < count; trav++) {
                        trhtml +=
                            '<option class="dropdown-item" value = "' + trav + '" > ' + data[trav].empname;
                    }
                }

                $("#ddlSuperior").empty();
                $("#ddlSuperior").append(trhtml);
                $("#ddlSuperior").select2();

                $("#ddlSuperior").change(function () {
                    var IDLL = $("#ddlSuperior").val();
                    $('#superiorid').val(data[IDLL].empid);
                    $('#superiorname').val(data[IDLL].empname);
                    $('#orggroupname').val(data[IDLL].orggroupname);
                    $('#emailsuperior').val(data[IDLL].emailsuperior);
                });
            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function falsefunction(e) {
        alert("NOPE");
        return false;
    }

</script>

