
@{
    ViewBag.Title = "UpdatePIC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="content-body">
        <div class="form-group">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h2 class="d-inline">Update PIC</h2>
                        </div>

                        <input id="TxtReqID" disabled hidden />
                        <input id="TxtEmpID" disabled hidden/>
                        <div class="row form-group">
                            <div class="col-lg-2 col-form-label">
                                <label class="col-form-label">Nomor Penyimpangan</label>
                            </div>
                            <div class="col-lg-3" style="margin-top:5px">
                                <select id="ddlNoPenyimpangan" class="form-control">
                                    <option value="" class="dropdown-header" selected>Select No. Penyimpangan</option>
                                </select>
                            </div>
                        </div>


                        <div class="table-responsive" id="headerTabel" hidden>
                            <table class="table table-hover table-bordered" id="deviationdatatable" cellspacing="0" width="1500px" style="color: black; text-align: center">
                                <thead>
                                    <tr>
                                        <th width="10px">No. Disposisi</th>
                                        <th width="50px">Nama PIC</th>
                                        <th width="50px">NIK</th>
                                        <th width="80px">Status</th>
                                        <th width="50px">Keterangan Disposisi</th>
                                        <th width="50px">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="deviationtable" class="nowrap">
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Pop Up Update PIC*@
    <div class="modal fade" id="updatePIC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container d-flex pl-0">
                        <h3 class="modal-title ml-2" id="exampleModalLabel">Update PIC</h3>
                    </div> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body" style="margin-left: 5px">
                    <div class="row form-group">
                        <div class="col-lg-5 col-form-label">
                            <label class="col-form-label">Nama PIC/Group</label>
                        </div>

                        <div class="col-lg-7" style="margin-top:10px">
                            <select id="ddlNama" class="form-control" style="width: 100%">
                                <option value="" class="dropdown-header" selected>Select Nama PIC/Group</option>
                            </select>
                            <div id="divDdlSite" hidden>
                                <select id="ddlSite"  style="width: 100%;">
                                    <option value="ALL">All</option>
                                    <option value="PLG">Pulogadung</option>
                                    <option value="PLM">Pulomas</option>
                                    <option value="CKR">Cikarang</option>
                                </select>
                            </div>
                           

                        </div>
                      
                       
                    </div>
                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button> <button type="button" class="btn btn-success" id="btnUpdate" disabled>Update PIC</button> </div>
            </div>
        </div>
    </div>


    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

        .select2-selection__arrow {
            height: 34px !important;
        }

        .whiteBg {
            background: white;
        }
    </style>


    <script>

        $(document).ready(function () {

            //fungsi buat nangkep perubahan di textbox reqid biar manggil fungsi
            var prevREQID= $('#TxtReqID').val();
            setInterval(function(){
                if (prevREQID != $('#TxtReqID').val()) {
                    prevREQID = $('#TxtReqID').val();
                    LoadData();
                    GetNamaPIC();
                }
            }, 100);

            var prevEMPID= $('#TxtEmpID').val();
            setInterval(function(){
                if (prevEMPID != $('#TxtEmpID').val()) {
                    prevEMPID = $('#TxtEmpID').val();

                    var empId = $('#TxtEmpID').val();

                    if (empId.includes("G_") == true) {
                        $('#divDdlSite').attr('hidden', false);
                    } else {
                        $('#divDdlSite').attr('hidden', true);
                    }
                }
            }, 100);

            GetNoPenyimpangan();
            LoadData();

            $('#ddlNoPenyimpangan').select2();
            $('#ddlNama').select2();
            $('#ddlSite').select2();

            $("#ddlNoPenyimpangan").change(function () {
                $('#headerTabel').attr('hidden', false);
                GetReqID();
            });

            var NoDisposisi = 'capek';

            // Update Function
            $('#deviationdatatable').on('click',
                'tbody tr .update', function () {
                    var row = $(this).closest("TR");
                    NoDisposisi = $("TD", row).eq(0).html();

                    $('#updatePIC').modal('show');
                    $(row, this).css({ 'background-color': 'lightsteelblue' });

                    $('#updatePIC').on('hidden.bs.modal', function () {
                        $(row, this).css({ 'background-color': 'white' });
                    });
                });


            $("#btnUpdate").click(function () {
                var NamaPIC = $('#ddlNama option:selected').text();
                var NamaSite = $('#ddlSite').val();
                var REQID = $('#TxtReqID').val();
                var empID = $('#TxtEmpID').val();
                var pic_is_group = false;
            
                var dto = {
                    REQID: REQID,
                    NamaPIC: NamaPIC,
                    NamaSite: NamaSite,
                    NoDisposisi: NoDisposisi,
                    EmpID: empID
                }

                var empId = $('#TxtEmpID').val();

                if (empId.includes("G_") == true) {
                    pic_is_group = true;
                }

                var dtx = {
                    REQID: REQID,
                    UserInvolved: empID,
                    Group: empID,
                    GroupSite: NamaSite
                }
                $.ajax({
                    url: "../Form/CheckEmailAvailability",
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify(dtx),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        @*console.log(data);*@
                        if (pic_is_group == true) {
                            var trav = 0;
                            var count = data.length;
                            var listUsername = '';

                            @* alert(count);*@
                                for (trav = 1; trav < count; trav++) {
                                listUsername += ', ' + data[trav].Username;
                            }
                            if (listUsername != '') {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Ada user dalam group yang tidak memiliki email',
                                    text: 'Mohon lengkapi data email user: ' + listUsername
                                });
                            } else {
                                //BLOM DITAMBAHIN FUNGSI SEND EMAIL BENERANNYA. CMN NOTIF DOANG INI.
                                toastr.success("Email Sent Successfully!",
                                    "Notification",
                                    {
                                        "closeButton": false,
                                        "debug": true,
                                        "newestOnTop": false,
                                        "progressBar": false,
                                        "positionClass": "toast-bottom-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "200",
                                        "hideDuration": "5000",
                                        "timeOut": "5000",
                                        "extendedTimeOut": "5s000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    });

                                $('#updatePIC').modal('hide');

                                //Update PIC
                                $.ajax({
                                    url: "../CMS/CMS_UpdatePIC",
                                    type: "post",
                                    dataType: "json",
                                    data: JSON.stringify(dto),
                                    contentType: "application/json;charset=utf-8",
                                    success: function (data) {
                                        toastr.success("Update PIC Berhasil!",
                                            "Tersimpan",
                                            {
                                                "closeButton": false,
                                                "debug": true,
                                                "newestOnTop": false,
                                                "progressBar": false,
                                                "positionClass": "toast-top-right",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "100",
                                                "hideDuration": "2000",
                                                "timeOut": "2000",
                                                "extendedTimeOut": "2000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            });
                                        LoadData();
                                    },
                                    error: function (ex) {
                                        alert(ex);
                                    }
                                });
                            }
                        }
                        if (data[0].STATUS == 'ADA') {
                            if (pic_is_group == false) {
                                //BLOM DITAMBAHIN FUNGSI SEND EMAIL BENERANNYA. CMN NOTIF DOANG INI.
                                toastr.success("Email Sent Successfully!",
                                    "Notification",
                                    {
                                        "closeButton": false,
                                        "debug": true,
                                        "newestOnTop": false,
                                        "progressBar": false,
                                        "positionClass": "toast-bottom-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "200",
                                        "hideDuration": "5000",
                                        "timeOut": "5000",
                                        "extendedTimeOut": "5000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    });

                                $('#updatePIC').modal('hide');

                                //Update PIC
                                $.ajax({
                                    url: "../CMS/CMS_UpdatePIC",
                                    type: "post",
                                    dataType: "json",
                                    data: JSON.stringify(dto),
                                    contentType: "application/json;charset=utf-8",
                                    success: function (data) {
                                        toastr.success("Update PIC Berhasil!",
                                            "Tersimpan",
                                            {
                                                "closeButton": false,
                                                "debug": true,
                                                "newestOnTop": false,
                                                "progressBar": false,
                                                "positionClass": "toast-top-right",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "100",
                                                "hideDuration": "2000",
                                                "timeOut": "2000",
                                                "extendedTimeOut": "2000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            });
                                        LoadData();
                                    },
                                    error: function (ex) {
                                        alert(ex);
                                    }
                                });
                            }
                        }
                        else {
                            if (pic_is_group == false) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'PIC yang dipilih belum memiliki email terdaftar',
                                    text: 'Mohon lengkapi data email user'
                                });
                            }
                        }
                  
                    },
                    error: function (ex) {
                        alert(ex);
                    }
        });
        });


        $("#ddlNama").change(function () {
            GetEmpID();
            if ($('#ddlNama').val() != '') {
                document.getElementById("btnUpdate").disabled = false;
            } else {
                document.getElementById("btnUpdate").disabled = true;

            }

        });


      @*  $("#ddlSite").change(function () {




        });*@

    });


    // Check Status to Determine which Row Has Action
    function LoadData() {
        var REQID = $('#TxtReqID').val();
        @*alert(REQID);*@
        var dto = {
            REQID: REQID
        };

        $.ajax({
            url: "../CMS/CMS_LoadPICList",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var trHTML = '';
                var trav = 0;
                var Count = data.length;

                for (trav = 0; trav < Count; trav++) {

                    trHTML +=
                        '<tr><td>' + data[trav].NO_DISPOSISI + '</td>' +
                        '<td>' + data[trav].PIC_REMEDIAL_NAME + '</td>' +
                        '<td>' + data[trav].PIC_REMEDIAL_NIK + '</td>' +
                        '<td>' + data[trav].FLAG_PIC + '</td>' +
                        '<td>' + data[trav].KETERANGAN_DISPOSISI + '</td>'



                    @*  if (data[trav].FLAG_REVIEW == 'NOT YET') {
                            trHTML +=
                                '<td> PENDING REVIEW </td>'

                        }
                        else if (data[trav].FLAG_REVIEW == 'REVIEW REJECTED BY COORDINATOR' || data[trav].FLAG_REVIEW == 'REVIEW APPROVED BY COORDINATOR') {
                            trHTML +=
                                '<td>' + data[trav].FLAG_REVIEW + '</td>'
                        }
                        else if (data[trav].FLAG_REVIEW == 'DONE REVIEW FROM COORDINATOR' || 'DONE REVISE FROM COORDINATOR') {
                            if (data[trav].FLAG_REVIEW == 'DONE REVIEW FROM COORDINATOR') {
                                trHTML +=
                                    '<td>DONE REVIEW</td>';
                            }
                            else {
                                trHTML +=
                                    '<td>' + data[trav].FLAG_REVIEW + '</td>';
                            }

                        }*@

                    var flagReview = data[trav].FLAG_PIC;
                    if (flagReview == 'ASSIGNED' || flagReview.toLowerCase().indexOf("rejected") >= 0) {
                        trHTML +=
                            '<td> <input type="button" id = "btnUpdateValidation" value="Update" class="btn btn-success update" style="width:50px"/> </td></tr>';
                    } else {
                        trHTML +=
                            '<td> <input type="button" id = "btnUpdateValidation" value="Update" class="btn btn-success update" style="width:50px" disabled/> </td></tr>';
                    }



                    $('#deviationdatatable').DataTable().clear().destroy();
                    $('#deviationtable').empty();
                    $('#deviationtable').append(trHTML);
                    $('#deviationdatatable').DataTable({
                        "searching": false,
                        "paging": false,
                        "info": false,
                        "order": [4, 'asc'],
                        "columnDefs": [
                            { "width": "10%", "targets": 0 },
                            { "width": "10%", "targets": 2 }
                        ]
                    });
                }


            }, error: function (ex) {
                Error("Load Data Review Koor", JSON.stringify(ex));
            }
        });
    }

    var tableDataCount = 0;

    function GetNoPenyimpangan() {
        $.ajax({
            url: "../CMS/CMS_GetNoPenyimpanganPIC",
            type: "post",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var trhtml = "";
                var trav = 0;
                tableDataCount = data.length;

                trhtml += '<option disabled selected class="dropdown-header" value="">Select No. Penyimpangan</option>';
                if (tableDataCount > 0) {
                    for (trav = 0; trav < tableDataCount; trav++) {
                        trhtml +=
                            '<option class="dropdown-item" value = "' + trav + '" > ' + data[trav].DEVIATION_NO;
                    }

                }

                $("#ddlNoPenyimpangan").empty();
                $("#ddlNoPenyimpangan").append(trhtml);
                $("#ddlNoPenyimpangan").select2();


            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

    }

    function GetNamaPIC() {
        var REQID = $('#TxtReqID').val();

        var dto = {
            REQID: REQID
        };
        $.ajax({
            url: "../CMS/CMS_GetNamaPIC",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var trhtml = "";
                var trav = 0;
                var count = data.length;

                trhtml += '<option disabled selected class="dropdown-header">Select Nama PIC/Group</option>';
                if (count > 0) {
                    for (trav = 0; trav < count; trav++) {

                        trhtml +=
                            '<option class="dropdown-item" value = "' + trav + '" > ' + data[trav].EmpName;

                    }
                }

                $("#ddlNama").empty();
                $("#ddlNama").append(trhtml);

            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

    }

    function GetReqID() {
        var devNo = $('#ddlNoPenyimpangan option:selected').text();

        var dto = {
            NoPenyimpangan: devNo
        };
        $.ajax({
            url: "../CMS/CMS_GetReqID",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                @*$("#TxtReqID").val('wasup');*@
                $("#TxtReqID").val(data);

            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function GetEmpID() {
        var picName = $('#ddlNama option:selected').text();

        var dto = {
            PICName:picName
        };
        $.ajax({
            url: "../CMS/CMS_GetEmpID",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#TxtEmpID").val(data);

            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    </script>

</body>


